﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2052px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2px;
  top:95px;
  width:2050px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:2050px;
  height:2px;
}
#u1 {
  position:absolute;
  left:13px;
  top:28px;
  width:337px;
  height:55px;
  font-size:48px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:56px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:40px;
  top:164px;
  width:1580px;
  height:396px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:397px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  word-wrap:break-word;
}
