﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:301px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:95px;
  width:1320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:75px;
  top:1198px;
  width:445px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:22px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:300px;
  width:1720px;
  height:785px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:785px;
}
#u6 {
  position:absolute;
  left:2px;
  top:384px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:68px;
  top:153px;
  width:1329px;
  height:122px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1329px;
  height:122px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1329px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:75px;
  top:1360px;
  width:975px;
  height:1550px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:1550px;
}
#u10 {
  position:absolute;
  left:2px;
  top:767px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:1140px;
  width:1930px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:1913px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1930px;
  height:1px;
}
#u12 {
  position:absolute;
  left:421px;
  top:1283px;
  width:129px;
  height:45px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1170px;
  top:1360px;
  width:550px;
  height:953px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:953px;
}
#u15 {
  position:absolute;
  left:2px;
  top:468px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1250px;
  top:1295px;
  width:97px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:540px;
  top:2110px;
  width:650px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u19 {
  position:absolute;
  left:780px;
  top:2770px;
  width:545px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:528px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:545px;
  height:1px;
}
#u20 {
  position:absolute;
  left:1321px;
  top:2313px;
  width:10px;
  height:463px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:446px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:463px;
}
