﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:212px;
  top:180px;
  width:308px;
  height:21px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:212px;
  top:201px;
  width:308px;
  height:529px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:529px;
}
#u3 {
  position:absolute;
  left:2px;
  top:256px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:212px;
  top:241px;
  width:308px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u5 {
  position:absolute;
  left:235px;
  top:185px;
  width:60px;
  height:11px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:223px;
  top:213px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:249px;
  top:211px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:243px;
  top:294px;
  width:14px;
  height:16px;
  color:#A1A1A1;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:226px;
  top:261px;
  width:280px;
  height:121px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:121px;
}
#u14 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:243px;
  top:281px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:433px;
  top:277px;
  width:59px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:226px;
  top:395px;
  width:280px;
  height:47px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:243px;
  top:409px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:472px;
  top:406px;
  width:26px;
  height:26px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:437px;
  top:408px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#BCBCBC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:57px;
  top:33px;
  width:129px;
  height:45px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:94px;
  width:1570px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:1553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1570px;
  height:1px;
}
#u30 {
  position:absolute;
  left:226px;
  top:315px;
  width:280px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u31 {
  position:absolute;
  left:243px;
  top:341px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:433px;
  top:335px;
  width:59px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:492px;
  top:289px;
  width:78px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u36 {
  position:absolute;
  left:580px;
  top:278px;
  width:280px;
  height:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:492px;
  top:346px;
  width:78px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u39 {
  position:absolute;
  left:580px;
  top:340px;
  width:310px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:580px;
  top:411px;
  width:160px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:492px;
  top:409px;
  width:78px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u44 {
  position:absolute;
  left:226px;
  top:452px;
  width:280px;
  height:47px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
}
#u45 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:243px;
  top:466px;
  width:113px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:472px;
  top:463px;
  width:26px;
  height:26px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:443px;
  top:465px;
  width:26px;
  height:19px;
  font-size:16px;
  color:#BCBCBC;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:492px;
  top:470px;
  width:78px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u53 {
  position:absolute;
  left:580px;
  top:469px;
  width:160px;
  height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:241px;
  top:301px;
  width:166px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
