﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:543px;
  top:102px;
  width:215px;
  height:381px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:230px;
  top:103px;
  width:215px;
  height:381px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:230px;
  top:102px;
  width:214px;
  height:34px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u6 {
  position:absolute;
  left:230px;
  top:102px;
  width:38px;
  height:34px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u8 {
  position:absolute;
  left:388px;
  top:106px;
  width:47px;
  height:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u10 {
  position:absolute;
  left:261px;
  top:439px;
  width:61px;
  height:34px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:57px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12 {
  position:absolute;
  left:354px;
  top:439px;
  width:57px;
  height:34px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:848px;
  top:140px;
  width:192px;
  height:288px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:289px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:288px;
}
#u16 {
  position:absolute;
  left:543px;
  top:102px;
  width:214px;
  height:34px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u18 {
  position:absolute;
  left:543px;
  top:102px;
  width:38px;
  height:34px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u20 {
  position:absolute;
  left:701px;
  top:106px;
  width:47px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u22 {
  position:absolute;
  left:574px;
  top:439px;
  width:61px;
  height:34px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:57px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24 {
  position:absolute;
  left:667px;
  top:439px;
  width:57px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:53px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:543px;
  top:200px;
  width:215px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u27 {
  position:absolute;
  left:543px;
  top:370px;
  width:215px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
