﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:242px;
  top:159px;
  width:308px;
  height:21px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:242px;
  top:180px;
  width:308px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:265px;
  top:164px;
  width:60px;
  height:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:341px;
  top:269px;
  width:110px;
  height:110px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:307px;
  top:463px;
  width:188px;
  height:16px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:356px;
  top:627px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:358px;
  top:651px;
  width:78px;
  height:16px;
  font-size:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:474px;
  top:627px;
  width:26px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:373px;
  top:506px;
  width:55px;
  height:17px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:361px;
  top:531px;
  width:84px;
  height:17px;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:102px;
  top:910px;
  width:308px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:102px;
  top:931px;
  width:308px;
  height:520px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u23 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:125px;
  top:915px;
  width:60px;
  height:11px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:201px;
  top:1020px;
  width:110px;
  height:110px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u27 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:173px;
  top:1214px;
  width:172px;
  height:16px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:216px;
  top:1378px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:218px;
  top:1402px;
  width:78px;
  height:16px;
  font-size:11px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:334px;
  top:1378px;
  width:26px;
  height:26px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:233px;
  top:1257px;
  width:55px;
  height:17px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:225px;
  top:1282px;
  width:58px;
  height:17px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:451px;
  top:531px;
  width:15px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:284px;
  top:1282px;
  width:15px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u43 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:57px;
  top:33px;
  width:385px;
  height:45px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:45px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:94px;
  width:1570px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:1553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1570px;
  height:1px;
}
#u47 {
  position:absolute;
  left:57px;
  top:789px;
  width:321px;
  height:45px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:850px;
  width:1570px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:1553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1570px;
  height:1px;
}
#u50 {
  position:absolute;
  left:590px;
  top:530px;
  width:310px;
  height:26px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:476px;
  top:535px;
  width:104px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u53 {
  position:absolute;
  left:450px;
  top:1276px;
  width:310px;
  height:26px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:309px;
  top:1282px;
  width:131px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:114px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:131px;
  height:1px;
}
#u56 {
  position:absolute;
  left:242px;
  top:1639px;
  width:308px;
  height:21px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:242px;
  top:1660px;
  width:308px;
  height:520px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u59 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:265px;
  top:1644px;
  width:60px;
  height:11px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:341px;
  top:1749px;
  width:110px;
  height:110px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u63 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:313px;
  top:1943px;
  width:172px;
  height:16px;
  font-size:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:356px;
  top:2107px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:358px;
  top:2131px;
  width:78px;
  height:16px;
  font-size:11px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:474px;
  top:2107px;
  width:26px;
  height:26px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:373px;
  top:1986px;
  width:55px;
  height:17px;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:348px;
  top:2011px;
  width:121px;
  height:17px;
  font-size:12px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:57px;
  top:1518px;
  width:385px;
  height:45px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:45px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:0px;
  top:1579px;
  width:1570px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:1553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1570px;
  height:1px;
}
#u79 {
  position:absolute;
  left:590px;
  top:2011px;
  width:310px;
  height:26px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:474px;
  top:2012px;
  width:106px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:89px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:106px;
  height:1px;
}
#u82 {
  position:absolute;
  left:590px;
  top:2054px;
  width:310px;
  height:26px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
