﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:290px;
  top:400px;
  width:387px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:14px;
}
#u2 {
  position:absolute;
  left:290px;
  top:150px;
  width:316px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:29px;
}
#u4 {
  position:absolute;
  left:290px;
  top:184px;
  width:150px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u6 {
  position:absolute;
  left:290px;
  top:227px;
  width:592px;
  height:155px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u9 {
  position:absolute;
  left:74px;
  top:0px;
  width:118px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u11 {
  position:absolute;
  left:192px;
  top:0px;
  width:118px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u13 {
  position:absolute;
  left:310px;
  top:0px;
  width:277px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:21px;
  width:74px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u17 {
  position:absolute;
  left:74px;
  top:21px;
  width:118px;
  height:21px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u19 {
  position:absolute;
  left:192px;
  top:21px;
  width:118px;
  height:21px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u21 {
  position:absolute;
  left:310px;
  top:21px;
  width:277px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:42px;
  width:74px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u25 {
  position:absolute;
  left:74px;
  top:42px;
  width:118px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u27 {
  position:absolute;
  left:192px;
  top:42px;
  width:118px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u29 {
  position:absolute;
  left:310px;
  top:42px;
  width:277px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:37px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:78px;
  width:74px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u33 {
  position:absolute;
  left:74px;
  top:78px;
  width:118px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u35 {
  position:absolute;
  left:192px;
  top:78px;
  width:118px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u37 {
  position:absolute;
  left:310px;
  top:78px;
  width:277px;
  height:36px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:37px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:114px;
  width:74px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:54px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u41 {
  position:absolute;
  left:74px;
  top:114px;
  width:118px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:54px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u43 {
  position:absolute;
  left:192px;
  top:114px;
  width:118px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:54px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u45 {
  position:absolute;
  left:310px;
  top:114px;
  width:277px;
  height:53px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:54px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
}
#u47 {
  position:absolute;
  left:290px;
  top:127px;
  width:84px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
