﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:362px;
  width:147px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:40px;
  width:385px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:95px;
  width:1320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:60px;
  top:140px;
  width:768px;
  height:100px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:100px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:310px;
  width:310px;
  height:25px;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:234px;
  top:383px;
  width:10px;
  height:49px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:32px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:49px;
}
#u10 {
  position:absolute;
  left:99px;
  top:432px;
  width:526px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:60px;
  top:528px;
  width:714px;
  height:25px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:99px;
  top:582px;
  width:261px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:99px;
  top:714px;
  width:411px;
  height:100px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:100px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:192px;
  top:610px;
  width:10px;
  height:40px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u19 {
  position:absolute;
  left:99px;
  top:657px;
  width:471px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:10px;
  top:270px;
  width:1320px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u22 {
  position:absolute;
  left:10px;
  top:480px;
  width:1320px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u23 {
  position:absolute;
  left:290px;
  top:810px;
  width:10px;
  height:36px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u24 {
  position:absolute;
  left:99px;
  top:846px;
  width:862px;
  height:72px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:72px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  white-space:nowrap;
}
