﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:18px;
  top:152px;
  width:792px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:783px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:792px;
  height:1px;
}
#u1 {
  position:absolute;
  left:80px;
  top:80px;
  width:423px;
  height:40px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:566px;
  top:240px;
  width:214px;
  height:380px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:380px;
}
#u4 {
  position:absolute;
  left:2px;
  top:182px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:85px;
  top:238px;
  width:215px;
  height:382px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u6 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:85px;
  top:491px;
  width:215px;
  height:68px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u8 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:85px;
  top:423px;
  width:215px;
  height:68px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:85px;
  top:355px;
  width:215px;
  height:68px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:85px;
  top:287px;
  width:215px;
  height:68px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:95px;
  top:244px;
  width:37px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:85px;
  top:282px;
  width:215px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u18 {
  position:absolute;
  left:136px;
  top:245px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:177px;
  top:586px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:171px;
  top:242px;
  width:93px;
  height:16px;
  font-size:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:98px;
  top:264px;
  width:23px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:134px;
  top:264px;
  width:23px;
  height:19px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:171px;
  top:264px;
  width:23px;
  height:19px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:209px;
  top:264px;
  width:23px;
  height:19px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:245px;
  top:264px;
  width:23px;
  height:19px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:97px;
  top:296px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:97px;
  top:316px;
  width:76px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:98px;
  top:334px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:96px;
  top:520px;
  width:150px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:96px;
  top:538px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:98px;
  top:383px;
  width:150px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:99px;
  top:401px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:98px;
  top:450px;
  width:106px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:98px;
  top:468px;
  width:123px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:120px;
  top:300px;
  width:128px;
  height:10px;
  font-size:9px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:11px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:96px;
  top:363px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:120px;
  top:365px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:96px;
  top:433px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:120px;
  top:435px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:96px;
  top:498px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u63 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:120px;
  top:500px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:397px;
  top:590px;
  width:106px;
  height:72px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:73px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:230px;
  top:590px;
  width:160px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:151px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:160px;
  height:1px;
}
#u69 {
  position:absolute;
  left:77px;
  top:200px;
  width:231px;
  height:22px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:264px;
  top:242px;
  width:20px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u72 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:284px;
  top:245px;
  width:17px;
  height:15px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:566px;
  top:200px;
  width:200px;
  height:22px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
