﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:375px;
  top:544px;
  width:290px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:90px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:30px;
  width:279px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u5 {
  position:absolute;
  left:85px;
  top:140px;
  width:276px;
  height:19px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:85px;
  top:159px;
  width:276px;
  height:465px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u8 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:105px;
  top:145px;
  width:54px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:284px;
  top:515px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:201px;
  top:515px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:299px;
  top:531px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:213px;
  top:528px;
  width:10px;
  height:26px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u18 {
  position:absolute;
  left:227px;
  top:528px;
  width:10px;
  height:26px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u19 {
  position:absolute;
  left:122px;
  top:515px;
  width:50px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:126px;
  top:521px;
  width:43px;
  height:43px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:104px;
  top:274px;
  width:237px;
  height:192px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u24 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:174px;
  top:214px;
  width:111px;
  height:37px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:195px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:253px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:322px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:322px;
  top:524px;
  width:343px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:326px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:343px;
  height:1px;
}
#u34 {
  position:absolute;
  left:694px;
  top:140px;
  width:276px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:694px;
  top:159px;
  width:276px;
  height:465px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u37 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:714px;
  top:145px;
  width:54px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:715px;
  top:260px;
  width:237px;
  height:192px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u41 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:810px;
  top:515px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:827px;
  top:532px;
  width:16px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:728px;
  top:515px;
  width:50px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:732px;
  top:521px;
  width:43px;
  height:43px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:893px;
  top:515px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:907px;
  top:529px;
  width:23px;
  height:23px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:785px;
  top:200px;
  width:111px;
  height:37px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:930px;
  top:535px;
  width:90px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u57 {
  position:absolute;
  left:1030px;
  top:535px;
  width:131px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
