﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:371px;
  top:550px;
  width:183px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:910px;
  top:462px;
  width:144px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:43px;
  top:30px;
  width:279px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u7 {
  position:absolute;
  left:85px;
  top:140px;
  width:276px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:85px;
  top:159px;
  width:276px;
  height:465px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u10 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:105px;
  top:145px;
  width:54px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:284px;
  top:515px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:201px;
  top:515px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:299px;
  top:531px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:213px;
  top:528px;
  width:10px;
  height:26px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u20 {
  position:absolute;
  left:227px;
  top:528px;
  width:10px;
  height:26px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u21 {
  position:absolute;
  left:122px;
  top:515px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:126px;
  top:521px;
  width:43px;
  height:43px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:104px;
  top:274px;
  width:237px;
  height:192px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u26 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:174px;
  top:214px;
  width:111px;
  height:37px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:195px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:253px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:322px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:165px;
  top:534px;
  width:421px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:404px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:421px;
  height:1px;
}
#u36 {
  position:absolute;
  left:596px;
  top:140px;
  width:276px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:596px;
  top:159px;
  width:276px;
  height:465px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u39 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:616px;
  top:145px;
  width:54px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:795px;
  top:515px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:712px;
  top:515px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:810px;
  top:531px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:724px;
  top:528px;
  width:10px;
  height:26px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u49 {
  position:absolute;
  left:738px;
  top:528px;
  width:10px;
  height:26px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u50 {
  position:absolute;
  left:633px;
  top:515px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:637px;
  top:521px;
  width:43px;
  height:43px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:615px;
  top:274px;
  width:237px;
  height:192px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u55 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:685px;
  top:214px;
  width:111px;
  height:37px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:706px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:764px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:833px;
  top:476px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:860px;
  top:466px;
  width:40px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u65 {
  position:absolute;
  left:847px;
  top:466px;
  width:13px;
  height:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
