﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:17px;
  width:225px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:64px;
  width:1229px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1229px;
  height:1px;
}
#u3 {
  position:absolute;
  left:78px;
  top:134px;
  width:1182px;
  height:128px;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:128px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:78px;
  top:380px;
  width:884px;
  height:128px;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:128px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  white-space:nowrap;
}
