﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:138px;
  width:525px;
  height:402px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:402px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  white-space:nowrap;
}
