﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2408px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:831px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:95px;
  width:1585px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1585px;
  height:1px;
}
#u3 {
  position:absolute;
  left:62px;
  top:158px;
  width:945px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:40px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:1630px;
  top:840px;
  width:268px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1630px;
  top:858px;
  width:268px;
  height:452px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u8 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1648px;
  top:844px;
  width:60px;
  height:11px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1668px;
  top:946px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1630px;
  top:842px;
  width:267px;
  height:469px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:469px;
}
#u14 {
  position:absolute;
  left:2px;
  top:226px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1630px;
  top:858px;
  width:268px;
  height:452px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u16 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1644px;
  top:1158px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1740px;
  top:1250px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:1712px;
  top:1268px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1676px;
  top:1158px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1676px;
  top:1186px;
  width:165px;
  height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1644px;
  top:920px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1676px;
  top:920px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1676px;
  top:948px;
  width:165px;
  height:36px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1644px;
  top:1006px;
  width:20px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1676px;
  top:1006px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1676px;
  top:1034px;
  width:165px;
  height:108px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:108px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1644px;
  top:870px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1674px;
  top:869px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1631px;
  top:899px;
  width:266px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:249px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:266px;
  height:1px;
}
#u44 {
  position:absolute;
  left:1810px;
  top:1277px;
  width:320px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u45 {
  position:absolute;
  left:2140px;
  top:840px;
  width:268px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:2140px;
  top:858px;
  width:268px;
  height:452px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u48 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:2158px;
  top:844px;
  width:60px;
  height:11px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:2172px;
  top:946px;
  width:210px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:214px;
}
#u52 {
  position:absolute;
  left:2px;
  top:89px;
  width:206px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:2168px;
  top:1256px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:2308px;
  top:1256px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1908px;
  top:1231px;
  width:209px;
  height:36px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:36px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:70px;
  top:253px;
  width:478px;
  height:25px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:80px;
  top:360px;
  width:268px;
  height:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:80px;
  top:378px;
  width:268px;
  height:452px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u64 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:98px;
  top:363px;
  width:60px;
  height:11px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:118px;
  top:465px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:80px;
  top:690px;
  width:268px;
  height:140px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:140px;
}
#u70 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:88px;
  top:765px;
  width:253px;
  height:21px;
  font-size:18px;
  color:#AEAEAE;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:21px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:92px;
  top:711px;
  width:85px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:242px;
  top:713px;
  width:89px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#00CC99;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:80px;
  top:360px;
  width:268px;
  height:470px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:470px;
}
#u78 {
  position:absolute;
  left:2px;
  top:227px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:96px;
  top:490px;
  width:234px;
  height:200px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:200px;
}
#u80 {
  position:absolute;
  left:2px;
  top:92px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:100px;
  top:530px;
  width:225px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:208px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:225px;
  height:1px;
}
#u82 {
  position:absolute;
  left:194px;
  top:504px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:108px;
  top:555px;
  width:211px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:68px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:98px;
  top:645px;
  width:229px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:229px;
  height:1px;
}
#u87 {
  position:absolute;
  left:180px;
  top:657px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:83px;
  top:305px;
  width:391px;
  height:15px;
  color:#FF0000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:15px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:530px;
  top:360px;
  width:268px;
  height:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u92 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:530px;
  top:378px;
  width:268px;
  height:452px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u94 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:548px;
  top:363px;
  width:60px;
  height:11px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:568px;
  top:465px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u98 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:530px;
  top:690px;
  width:268px;
  height:140px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:140px;
}
#u100 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:538px;
  top:765px;
  width:253px;
  height:21px;
  font-size:18px;
  color:#AEAEAE;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:21px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:542px;
  top:711px;
  width:85px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:692px;
  top:713px;
  width:89px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#00CC99;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:300px;
  top:665px;
  width:220px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u108 {
  position:absolute;
  left:362px;
  top:685px;
  width:144px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:70px;
  top:914px;
  width:1216px;
  height:25px;
  font-size:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:25px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:83px;
  top:966px;
  width:599px;
  height:15px;
  color:#FF0000;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:80px;
  top:1036px;
  width:268px;
  height:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u115 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:80px;
  top:1054px;
  width:268px;
  height:452px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u117 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:99px;
  top:1039px;
  width:60px;
  height:11px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:118px;
  top:1141px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u121 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:80px;
  top:1336px;
  width:268px;
  height:170px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u123 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:91px;
  top:1404px;
  width:267px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:21px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:93px;
  top:1352px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:186px;
  top:1446px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:159px;
  top:1464px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:258px;
  top:1354px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:80px;
  top:1036px;
  width:268px;
  height:470px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:470px;
}
#u135 {
  position:absolute;
  left:2px;
  top:227px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:96px;
  top:1166px;
  width:234px;
  height:254px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:254px;
}
#u137 {
  position:absolute;
  left:2px;
  top:119px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:100px;
  top:1206px;
  width:225px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:208px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:225px;
  height:1px;
}
#u139 {
  position:absolute;
  left:194px;
  top:1180px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:108px;
  top:1231px;
  width:211px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:68px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:98px;
  top:1370px;
  width:229px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:229px;
  height:1px;
}
#u144 {
  position:absolute;
  left:180px;
  top:1386px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:630px;
  top:1036px;
  width:268px;
  height:18px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u147 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:630px;
  top:1054px;
  width:268px;
  height:452px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u149 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:649px;
  top:1039px;
  width:60px;
  height:11px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u151 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:668px;
  top:1141px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u153 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:630px;
  top:1336px;
  width:268px;
  height:170px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u155 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:641px;
  top:1404px;
  width:267px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:21px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:643px;
  top:1352px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:736px;
  top:1446px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:709px;
  top:1464px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:808px;
  top:1354px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:300px;
  top:1382px;
  width:308px;
  height:10px;
}
#u166_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u167 {
  position:absolute;
  left:362px;
  top:1402px;
  width:235px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:70px;
  top:1600px;
  width:1324px;
  height:25px;
  font-size:18px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:25px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:83px;
  top:1652px;
  width:547px;
  height:15px;
  color:#FF0000;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:15px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:80px;
  top:1720px;
  width:268px;
  height:18px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u174 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:80px;
  top:1738px;
  width:268px;
  height:452px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u176 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:99px;
  top:1723px;
  width:60px;
  height:11px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:118px;
  top:1825px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u180 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:80px;
  top:2020px;
  width:268px;
  height:170px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u182 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:91px;
  top:2088px;
  width:267px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:21px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:93px;
  top:2036px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:186px;
  top:2130px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:159px;
  top:2148px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:258px;
  top:2038px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:80px;
  top:1720px;
  width:268px;
  height:470px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:470px;
}
#u194 {
  position:absolute;
  left:2px;
  top:227px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:96px;
  top:1850px;
  width:234px;
  height:200px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:200px;
}
#u196 {
  position:absolute;
  left:2px;
  top:92px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:100px;
  top:1890px;
  width:225px;
  height:10px;
}
#u197_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_end {
  position:absolute;
  left:208px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_line {
  position:absolute;
  left:0px;
  top:5px;
  width:225px;
  height:1px;
}
#u198 {
  position:absolute;
  left:194px;
  top:1864px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:108px;
  top:1915px;
  width:211px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:68px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:98px;
  top:1998px;
  width:229px;
  height:10px;
}
#u202_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_end {
  position:absolute;
  left:212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_line {
  position:absolute;
  left:0px;
  top:5px;
  width:229px;
  height:1px;
}
#u203 {
  position:absolute;
  left:630px;
  top:1720px;
  width:268px;
  height:18px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u204 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:630px;
  top:1738px;
  width:268px;
  height:452px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u206 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:649px;
  top:1723px;
  width:60px;
  height:11px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u208 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:668px;
  top:1825px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u210 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:630px;
  top:2020px;
  width:268px;
  height:170px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u212 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:641px;
  top:2088px;
  width:267px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:21px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:643px;
  top:2036px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:736px;
  top:2130px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:709px;
  top:2148px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u220 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:808px;
  top:2038px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:175px;
  top:2010px;
  width:445px;
  height:10px;
}
#u223_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u223_end {
  position:absolute;
  left:428px;
  top:-5px;
  width:18px;
  height:20px;
}
#u223_line {
  position:absolute;
  left:0px;
  top:5px;
  width:445px;
  height:1px;
}
#u224 {
  position:absolute;
  left:362px;
  top:1974px;
  width:235px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:204px;
  top:2006px;
  width:10px;
  height:42px;
}
#u226_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u226_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u226_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u227 {
  position:absolute;
  left:128px;
  top:2014px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:233px;
  top:2014px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:316px;
  top:2028px;
  width:64px;
  height:10px;
}
#u231_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u231_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u231_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u232 {
  position:absolute;
  left:390px;
  top:2028px;
  width:183px;
  height:18px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:62px;
  top:2270px;
  width:676px;
  height:25px;
  font-size:18px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:25px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:75px;
  top:2322px;
  width:547px;
  height:15px;
  color:#FF0000;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:15px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  white-space:nowrap;
}
