﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:271px;
  top:215px;
  width:308px;
  height:21px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:271px;
  top:236px;
  width:308px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:271px;
  top:276px;
  width:308px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u5 {
  position:absolute;
  left:282px;
  top:248px;
  width:22px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:308px;
  top:246px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:549px;
  top:242px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:271px;
  top:482px;
  width:308px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u12 {
  position:absolute;
  left:287px;
  top:434px;
  width:152px;
  height:25px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:288px;
  top:463px;
  width:57px;
  height:18px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:271px;
  top:281px;
  width:308px;
  height:136px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:290px;
  top:371px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:481px;
  top:323px;
  width:75px;
  height:75px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:535px;
  top:442px;
  width:28px;
  height:23px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:977px;
  top:442px;
  width:210px;
  height:85px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:85px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:37px;
  top:60px;
  width:161px;
  height:45px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:-20px;
  top:121px;
  width:1570px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:1553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1570px;
  height:1px;
}
#u29 {
  position:absolute;
  left:366px;
  top:459px;
  width:23px;
  height:23px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:630px;
  top:216px;
  width:308px;
  height:21px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:630px;
  top:238px;
  width:308px;
  height:520px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u34 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:630px;
  top:278px;
  width:308px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u36 {
  position:absolute;
  left:641px;
  top:250px;
  width:22px;
  height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:667px;
  top:248px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:908px;
  top:244px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:630px;
  top:484px;
  width:308px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u43 {
  position:absolute;
  left:646px;
  top:436px;
  width:152px;
  height:25px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:647px;
  top:464px;
  width:57px;
  height:18px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:647px;
  top:504px;
  width:276px;
  height:18px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:630px;
  top:282px;
  width:308px;
  height:136px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
}
#u50 {
  position:absolute;
  left:2px;
  top:60px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:649px;
  top:372px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:840px;
  top:324px;
  width:75px;
  height:75px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u54 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:894px;
  top:444px;
  width:28px;
  height:23px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:714px;
  top:459px;
  width:23px;
  height:23px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:747px;
  top:464px;
  width:230px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
