﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:98px;
  width:1110px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1101px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u1 {
  position:absolute;
  left:62px;
  top:43px;
  width:448px;
  height:40px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:140px;
  top:206px;
  width:565px;
  height:74px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:75px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:140px;
  top:320px;
  width:450px;
  height:220px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:221px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:470px;
  width:478px;
  height:45px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:46px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:540px;
  width:460px;
  height:231px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:232px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:67px;
  top:130px;
  width:113px;
  height:33px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:175px;
  top:129px;
  width:652px;
  height:34px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:648px;
  visibility:hidden;
  word-wrap:break-word;
}
