﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1209px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:632px;
  top:160px;
  width:268px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:632px;
  top:178px;
  width:268px;
  height:452px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u3 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:651px;
  top:165px;
  width:52px;
  height:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:632px;
  top:586px;
  width:268px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u7 {
  position:absolute;
  left:860px;
  top:192px;
  width:20px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:679px;
  top:228px;
  width:34px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  visibility:hidden;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:662px;
  top:232px;
  width:10px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:43px;
  top:33px;
  width:488px;
  height:45px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:45px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:84px;
  width:1130px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1130px;
  height:1px;
}
#u16 {
  position:absolute;
  left:62px;
  top:160px;
  width:268px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u17 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:62px;
  top:178px;
  width:268px;
  height:452px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u19 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:81px;
  top:165px;
  width:52px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:290px;
  top:192px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:87px;
  top:228px;
  width:10px;
  height:18px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:18px;
}
#u25 {
  position:absolute;
  left:62px;
  top:378px;
  width:268px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u26 {
  position:absolute;
  left:62px;
  top:422px;
  width:268px;
  height:208px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:208px;
}
#u27 {
  position:absolute;
  left:2px;
  top:96px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:152px;
  top:412px;
  width:24px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:679px;
  top:228px;
  width:10px;
  height:18px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:18px;
}
#u31 {
  position:absolute;
  left:177px;
  top:412px;
  width:445px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:428px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:445px;
  height:1px;
}
#u32 {
  position:absolute;
  left:340px;
  top:432px;
  width:287px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:36px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:82px;
  top:394px;
  width:27px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:150px;
  top:394px;
  width:27px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:216px;
  top:394px;
  width:27px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:284px;
  top:394px;
  width:27px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:652px;
  top:604px;
  width:27px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:720px;
  top:604px;
  width:27px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:786px;
  top:604px;
  width:27px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:854px;
  top:604px;
  width:27px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1000px;
  top:603px;
  width:209px;
  height:18px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:675px;
  top:608px;
  width:315px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:298px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:315px;
  height:1px;
}
