﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:351px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:95px;
  width:1320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:70px;
  top:139px;
  width:870px;
  height:241px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:241px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:520px;
  width:300px;
  height:70px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:490px;
  width:79px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:80px;
  top:535px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:80px;
  top:560px;
  width:118px;
  height:18px;
  color:#A1A1A1;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:317px;
  top:535px;
  width:33px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:590px;
  top:479px;
  width:268px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:590px;
  top:497px;
  width:268px;
  height:452px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u18 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:608px;
  top:483px;
  width:60px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:628px;
  top:585px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:590px;
  top:481px;
  width:267px;
  height:469px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:469px;
}
#u24 {
  position:absolute;
  left:2px;
  top:226px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:590px;
  top:497px;
  width:268px;
  height:452px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u26 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:604px;
  top:797px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:700px;
  top:889px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:672px;
  top:907px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:636px;
  top:797px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:636px;
  top:825px;
  width:165px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:604px;
  top:559px;
  width:20px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:636px;
  top:559px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:636px;
  top:587px;
  width:165px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:604px;
  top:645px;
  width:20px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:636px;
  top:645px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#00CC99;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:636px;
  top:673px;
  width:165px;
  height:108px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:108px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:604px;
  top:509px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:634px;
  top:508px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#515151;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:591px;
  top:538px;
  width:266px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:249px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:266px;
  height:1px;
}
#u54 {
  position:absolute;
  left:340px;
  top:559px;
  width:230px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u55 {
  position:absolute;
  left:378px;
  top:575px;
  width:197px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:782px;
  top:917px;
  width:128px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  height:1px;
}
#u58 {
  position:absolute;
  left:920px;
  top:912px;
  width:92px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:60px;
  top:1110px;
  width:300px;
  height:70px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u61 {
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:70px;
  top:1080px;
  width:79px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:80px;
  top:1125px;
  width:99px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:80px;
  top:1150px;
  width:118px;
  height:18px;
  color:#A1A1A1;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:317px;
  top:1125px;
  width:33px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:340px;
  top:1149px;
  width:230px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u71 {
  position:absolute;
  left:378px;
  top:1165px;
  width:197px;
  height:36px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:590px;
  top:1040px;
  width:268px;
  height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u74 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:590px;
  top:1058px;
  width:268px;
  height:452px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u76 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:608px;
  top:1044px;
  width:60px;
  height:11px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:628px;
  top:1190px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
