﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:20px;
  width:189px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:70px;
  width:1500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:79px;
  top:130px;
  width:811px;
  height:1387px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:1387px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1232px;
  top:879px;
  width:228px;
  height:91px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u6 {
  position:absolute;
  left:2px;
  top:38px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1232px;
  top:854px;
  width:228px;
  height:26px;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:224px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1244px;
  top:895px;
  width:209px;
  height:26px;
  font-size:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1316px;
  top:937px;
  width:65px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:1239px;
  top:937px;
  width:69px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:980px;
  top:1155px;
  width:196px;
  height:94px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:94px;
}
#u14 {
  position:absolute;
  left:2px;
  top:39px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:980px;
  top:1130px;
  width:196px;
  height:26px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u16 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:988px;
  top:1168px;
  width:180px;
  height:26px;
  font-size:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1090px;
  top:1219px;
  width:53px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:1012px;
  top:1219px;
  width:53px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:1232px;
  top:1155px;
  width:196px;
  height:94px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:94px;
}
#u22 {
  position:absolute;
  left:2px;
  top:39px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1232px;
  top:1130px;
  width:196px;
  height:26px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1242px;
  top:1167px;
  width:180px;
  height:26px;
  font-size:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1344px;
  top:1219px;
  width:53px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:1266px;
  top:1219px;
  width:53px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:1393px;
  top:937px;
  width:60px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:980px;
  top:879px;
  width:196px;
  height:91px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:91px;
}
#u31 {
  position:absolute;
  left:2px;
  top:38px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:980px;
  top:854px;
  width:196px;
  height:26px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:989px;
  top:897px;
  width:180px;
  height:26px;
  font-size:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:26px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1090px;
  top:937px;
  width:53px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:1012px;
  top:937px;
  width:53px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:980px;
  top:828px;
  width:76px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1232px;
  top:828px;
  width:76px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:980px;
  top:1399px;
  width:196px;
  height:94px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:94px;
}
#u43 {
  position:absolute;
  left:2px;
  top:39px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:980px;
  top:1374px;
  width:196px;
  height:26px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:993px;
  top:1414px;
  width:180px;
  height:14px;
  font-size:11px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1092px;
  top:1458px;
  width:53px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:1014px;
  top:1458px;
  width:53px;
  height:22px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:990px;
  top:1437px;
  width:14px;
  height:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1008px;
  top:1437px;
  width:46px;
  height:13px;
  font-size:10px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:990px;
  top:1200px;
  width:14px;
  height:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1008px;
  top:1200px;
  width:46px;
  height:13px;
  font-size:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1242px;
  top:1200px;
  width:14px;
  height:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1260px;
  top:1200px;
  width:46px;
  height:13px;
  font-size:10px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
