﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:321px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:58px;
  top:140px;
  width:391px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:849px;
  top:401px;
  width:331px;
  height:36px;
  color:#FF0000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:49px;
  top:180px;
  width:722px;
  height:785px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:785px;
}
#u8 {
  position:absolute;
  left:2px;
  top:384px;
  width:718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:500px;
  top:414px;
  width:330px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
