﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:379px;
  top:259px;
  width:572px;
  height:16px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
