﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2495px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:790px;
  top:392px;
  width:730px;
  height:798px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:798px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:745px;
  top:190px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1600px;
  top:680px;
  width:326px;
  height:140px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:140px;
}
#u5 {
  position:absolute;
  left:2px;
  top:62px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1600px;
  top:722px;
  width:326px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:309px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:326px;
  height:1px;
}
#u7 {
  position:absolute;
  left:1708px;
  top:694px;
  width:101px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1638px;
  top:738px;
  width:264px;
  height:13px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1600px;
  top:780px;
  width:326px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:309px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:326px;
  height:1px;
}
#u12 {
  position:absolute;
  left:1758px;
  top:786px;
  width:10px;
  height:35px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u13 {
  position:absolute;
  left:1662px;
  top:794px;
  width:37px;
  height:13px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1828px;
  top:794px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:2026px;
  top:728px;
  width:469px;
  height:50px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:50px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  word-wrap:break-word;
}
