﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:166px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:400px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:435px;
  top:398px;
  width:25px;
  height:25px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:159px;
  top:398px;
  width:26px;
  height:26px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:190px;
  top:436px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:435px;
  top:434px;
  width:25px;
  height:25px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:159px;
  top:434px;
  width:26px;
  height:26px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u16 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:144px;
  top:307px;
  width:323px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u18 {
  position:absolute;
  left:156px;
  top:291px;
  width:53px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u21 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:139px;
  top:240px;
  width:50px;
  height:28px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:441px;
  top:240px;
  width:31px;
  height:31px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:190px;
  top:329px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:435px;
  top:327px;
  width:25px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:159px;
  top:327px;
  width:26px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:190px;
  top:366px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:435px;
  top:364px;
  width:25px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:159px;
  top:362px;
  width:26px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:190px;
  top:472px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:435px;
  top:470px;
  width:25px;
  height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:159px;
  top:470px;
  width:26px;
  height:26px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
