﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:360px;
  top:240px;
  width:470px;
  height:835px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:835px;
}
#u1 {
  position:absolute;
  left:2px;
  top:410px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:920px;
  top:527px;
  width:300px;
  height:51px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:600px;
  top:530px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1035px;
  top:872px;
  width:300px;
  height:67px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:67px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:359px;
  top:1320px;
  width:471px;
  height:1030px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:1030px;
}
#u8 {
  position:absolute;
  left:2px;
  top:507px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1030px;
  top:1730px;
  width:148px;
  height:113px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:113px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:825px;
  top:1740px;
  width:195px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:178px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:195px;
  height:1px;
}
#u12 {
  position:absolute;
  left:990px;
  top:2033px;
  width:208px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:792px;
  top:2033px;
  width:188px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:171px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:188px;
  height:1px;
}
#u15 {
  position:absolute;
  left:792px;
  top:2240px;
  width:128px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  height:1px;
}
#u16 {
  position:absolute;
  left:817px;
  top:2138px;
  width:208px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:208px;
  height:1px;
}
#u17 {
  position:absolute;
  left:825px;
  top:1848px;
  width:119px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:102px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:119px;
  height:1px;
}
#u18 {
  position:absolute;
  left:891px;
  top:1794px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u19 {
  position:absolute;
  left:830px;
  top:872px;
  width:195px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:178px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:195px;
  height:1px;
}
#u20 {
  position:absolute;
  left:830px;
  top:980px;
  width:119px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:102px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:119px;
  height:1px;
}
#u21 {
  position:absolute;
  left:896px;
  top:926px;
  width:102px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u22 {
  position:absolute;
  left:585px;
  top:528px;
  width:9px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
