﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:206px;
  width:480px;
  height:184px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:185px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
