﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:945px;
  top:480px;
  width:360px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:945px;
  top:292px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:820px;
  top:320px;
  width:3740px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:3731px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u5 {
  position:absolute;
  left:945px;
  top:480px;
  width:360px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:76px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:945px;
  top:480px;
  width:360px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:983px;
  top:520px;
  width:167px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:25px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:953px;
  top:518px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1233px;
  top:580px;
  width:45px;
  height:2px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1235px;
  top:570px;
  width:22px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:973px;
  top:570px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:973px;
  top:602px;
  width:279px;
  height:18px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1233px;
  top:644px;
  width:45px;
  height:2px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1235px;
  top:634px;
  width:22px;
  height:22px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:973px;
  top:634px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:973px;
  top:666px;
  width:257px;
  height:36px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1232px;
  top:800px;
  width:45px;
  height:2px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1234px;
  top:790px;
  width:22px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:972px;
  top:790px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:972px;
  top:822px;
  width:257px;
  height:18px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1232px;
  top:868px;
  width:45px;
  height:2px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1234px;
  top:858px;
  width:22px;
  height:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:972px;
  top:858px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:972px;
  top:890px;
  width:257px;
  height:18px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:945px;
  top:440px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1232px;
  top:932px;
  width:45px;
  height:2px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1234px;
  top:922px;
  width:22px;
  height:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:972px;
  top:922px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:972px;
  top:954px;
  width:257px;
  height:18px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1377px;
  top:644px;
  width:173px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1285px;
  top:644px;
  width:72px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:1px;
}
#u58 {
  position:absolute;
  left:972px;
  top:1230px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:972px;
  top:1268px;
  width:333px;
  height:70px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:71px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:945px;
  top:1370px;
  width:360px;
  height:620px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u63 {
  position:absolute;
  left:2px;
  top:301px;
  width:356px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1375px;
  top:1585px;
  width:140px;
  height:140px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u65 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1391px;
  top:1723px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1395px;
  top:1535px;
  width:10px;
  height:87px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u68_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u69 {
  position:absolute;
  left:1425px;
  top:1535px;
  width:10px;
  height:87px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u69_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u70 {
  position:absolute;
  left:1455px;
  top:1535px;
  width:10px;
  height:87px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u70_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u71 {
  position:absolute;
  left:1565px;
  top:1522px;
  width:140px;
  height:140px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u72 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1578px;
  top:1712px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1675px;
  top:1625px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u75_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u75_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u75_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u76 {
  position:absolute;
  left:1645px;
  top:1625px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u76_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u76_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u77 {
  position:absolute;
  left:1615px;
  top:1625px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u77_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u77_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u78 {
  position:absolute;
  left:1075px;
  top:2100px;
  width:360px;
  height:620px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:621px;
}
#u79 {
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1655px;
  top:2358px;
  width:140px;
  height:140px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u81 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1671px;
  top:2496px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:1675px;
  top:2308px;
  width:10px;
  height:87px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u84_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u85 {
  position:absolute;
  left:1705px;
  top:2308px;
  width:10px;
  height:87px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u85_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u86 {
  position:absolute;
  left:1735px;
  top:2308px;
  width:10px;
  height:87px;
}
#u86_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u86_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u86_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u87 {
  position:absolute;
  left:1845px;
  top:2295px;
  width:140px;
  height:140px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u88 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1857px;
  top:2485px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1955px;
  top:2398px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u91_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u91_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u92 {
  position:absolute;
  left:1925px;
  top:2398px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u92_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u92_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u92_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u93 {
  position:absolute;
  left:1895px;
  top:2398px;
  width:10px;
  height:87px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u93_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u93_end {
  position:absolute;
  left:-5px;
  top:78px;
  width:20px;
  height:14px;
}
#u93_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:87px;
}
#u94 {
  position:absolute;
  left:1255px;
  top:2401px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1233px;
  top:718px;
  width:45px;
  height:2px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:3px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1235px;
  top:708px;
  width:22px;
  height:22px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u99 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:973px;
  top:708px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:973px;
  top:740px;
  width:257px;
  height:36px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:37px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
