﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:35px;
  width:268px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1060px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u3 {
  position:absolute;
  left:480px;
  top:306px;
  width:710px;
  height:156px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:156px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:82px;
  top:156px;
  width:262px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:82px;
  top:174px;
  width:262px;
  height:466px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:466px;
}
#u8 {
  position:absolute;
  left:2px;
  top:225px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:161px;
  width:51px;
  height:9px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:9px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:94px;
  top:182px;
  width:240px;
  height:36px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:103px;
  top:189px;
  width:24px;
  height:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:188px;
  width:24px;
  height:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:82px;
  top:565px;
  width:262px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:245px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:262px;
  height:1px;
}
#u18 {
  position:absolute;
  left:118px;
  top:587px;
  width:53px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:303px;
  top:591px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:118px;
  top:612px;
  width:156px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:139px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:156px;
  height:3px;
}
#u23 {
  position:absolute;
  left:117px;
  top:612px;
  width:56px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:56px;
  height:3px;
}
#u24 {
  position:absolute;
  left:212px;
  top:588px;
  width:58px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:82px;
  top:398px;
  width:262px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:245px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:262px;
  height:1px;
}
#u27 {
  position:absolute;
  left:98px;
  top:415px;
  width:53px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:98px;
  top:446px;
  width:22px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:145px;
  top:443px;
  width:59px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:144px;
  top:459px;
  width:124px;
  height:11px;
  font-size:10px;
  color:#868686;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:11px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:97px;
  top:484px;
  width:25px;
  height:25px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:144px;
  top:483px;
  width:58px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:144px;
  top:499px;
  width:123px;
  height:11px;
  font-size:10px;
  color:#868686;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:11px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:144px;
  top:523px;
  width:91px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:144px;
  top:540px;
  width:85px;
  height:11px;
  font-size:10px;
  color:#868686;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:11px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:99px;
  top:525px;
  width:22px;
  height:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:264px;
  top:190px;
  width:19px;
  height:19px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:82px;
  top:305px;
  width:262px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:245px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:262px;
  height:1px;
}
#u50 {
  position:absolute;
  left:206px;
  top:220px;
  width:10px;
  height:89px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:72px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:89px;
}
#u51 {
  position:absolute;
  left:163px;
  top:311px;
  width:10px;
  height:92px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:75px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:92px;
}
#u52 {
  position:absolute;
  left:97px;
  top:284px;
  width:27px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:170px;
  top:287px;
  width:22px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:229px;
  top:283px;
  width:27px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:315px;
  top:285px;
  width:15px;
  height:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:93px;
  top:378px;
  width:27px;
  height:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:144px;
  top:381px;
  width:15px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:251px;
  top:311px;
  width:10px;
  height:92px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:75px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:92px;
}
#u65 {
  position:absolute;
  left:181px;
  top:378px;
  width:40px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:232px;
  top:380px;
  width:15px;
  height:15px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:262px;
  top:378px;
  width:53px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:324px;
  top:380px;
  width:8px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:344px;
  top:370px;
  width:116px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:99px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:116px;
  height:1px;
}
#u74 {
  position:absolute;
  left:283px;
  top:195px;
  width:177px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:160px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:177px;
  height:1px;
}
#u75 {
  position:absolute;
  left:477px;
  top:182px;
  width:378px;
  height:36px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:36px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:315px;
  top:415px;
  width:18px;
  height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
