﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:35px;
  width:406px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1060px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1043px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1060px;
  height:1px;
}
#u3 {
  position:absolute;
  left:80px;
  top:180px;
  width:704px;
  height:69px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:69px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:80px;
  top:310px;
  width:962px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:69px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  white-space:nowrap;
}
