﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:405px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:163px;
  top:240px;
  width:162px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:133px;
  top:238px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:154px;
  top:329px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:446px;
  top:328px;
  width:25px;
  height:25px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:142px;
  top:481px;
  width:323px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u18 {
  position:absolute;
  left:154px;
  top:465px;
  width:40px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:414px;
  top:368px;
  width:45px;
  height:2px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:416px;
  top:358px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:154px;
  top:358px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:144px;
  top:308px;
  width:323px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u27 {
  position:absolute;
  left:156px;
  top:292px;
  width:27px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:412px;
  top:506px;
  width:45px;
  height:2px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:414px;
  top:496px;
  width:22px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:152px;
  top:496px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:125px;
  top:164px;
  width:105px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:680px;
  top:560px;
  width:200px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u38 {
  position:absolute;
  left:680px;
  top:580px;
  width:290px;
  height:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:154px;
  top:406px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:446px;
  top:405px;
  width:25px;
  height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:144px;
  top:390px;
  width:323px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
