﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:212px;
  top:219px;
  width:161px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:904px;
  top:219px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:60px;
  top:28px;
  width:572px;
  height:131px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:131px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1752px;
  top:219px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1998px;
  top:1080px;
  width:242px;
  height:42px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:42px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:104px;
  top:310px;
  width:419px;
  height:750px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:750px;
}
#u11 {
  position:absolute;
  left:2px;
  top:367px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:105px;
  top:310px;
  width:417px;
  height:740px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u13 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:105px;
  top:404px;
  width:412px;
  height:542px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:542px;
}
#u15 {
  position:absolute;
  left:2px;
  top:263px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:117px;
  top:350px;
  width:390px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:104px;
  top:398px;
  width:417px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u19 {
  position:absolute;
  left:349px;
  top:421px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:104px;
  top:568px;
  width:419px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:402px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:419px;
  height:1px;
}
#u22 {
  position:absolute;
  left:417px;
  top:519px;
  width:69px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:104px;
  top:584px;
  width:419px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:121px;
  top:599px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:491px;
  top:596px;
  width:26px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:104px;
  top:658px;
  width:308px;
  height:197px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:197px;
}
#u31 {
  position:absolute;
  left:2px;
  top:90px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:104px;
  top:658px;
  width:419px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:104px;
  top:706px;
  width:419px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:104px;
  top:755px;
  width:419px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:104px;
  top:804px;
  width:419px;
  height:51px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:51px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:121px;
  top:724px;
  width:16px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:157px;
  top:714px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:157px;
  top:764px;
  width:49px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:157px;
  top:814px;
  width:65px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:121px;
  top:774px;
  width:16px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:121px;
  top:822px;
  width:16px;
  height:13px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:113px;
  top:668px;
  width:30px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:157px;
  top:672px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:231px;
  top:422px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:239px;
  top:407px;
  width:32px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  height:2px;
}
#u59 {
  position:absolute;
  left:104px;
  top:338px;
  width:419px;
  height:64px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:64px;
}
#u60 {
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:156px;
  top:359px;
  width:128px;
  height:19px;
  font-size:16px;
  color:#CBCBCB;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:465px;
  top:990px;
  width:34px;
  height:36px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:165px;
  top:462px;
  width:47px;
  height:47px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:157px;
  top:519px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:287px;
  top:519px;
  width:58px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:289px;
  top:464px;
  width:45px;
  height:45px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:419px;
  top:461px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:465px;
  top:353px;
  width:34px;
  height:35px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:821px;
  top:863px;
  width:22px;
  height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:779px;
  top:310px;
  width:417px;
  height:740px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u80 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:780px;
  top:339px;
  width:416px;
  height:723px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u82 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:792px;
  top:350px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:779px;
  top:398px;
  width:417px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u86 {
  position:absolute;
  left:1140px;
  top:1009px;
  width:34px;
  height:29px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:797px;
  top:606px;
  width:300px;
  height:41px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:797px;
  top:671px;
  width:300px;
  height:41px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:798px;
  top:733px;
  width:300px;
  height:41px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:797px;
  top:792px;
  width:300px;
  height:41px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:935px;
  top:522px;
  width:65px;
  height:27px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:795px;
  top:418px;
  width:130px;
  height:131px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u99 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1161px;
  top:610px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:1162px;
  top:671px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1163px;
  top:725px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1166px;
  top:794px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:798px;
  top:629px;
  width:15px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:797px;
  top:695px;
  width:15px;
  height:15px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:797px;
  top:562px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:803px;
  top:568px;
  width:13px;
  height:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1107px;
  top:568px;
  width:79px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:792px;
  top:753px;
  width:20px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:334px;
  top:484px;
  width:430px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:413px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:430px;
  height:1px;
}
#u121 {
  position:absolute;
  left:1242px;
  top:693px;
  width:324px;
  height:37px;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:37px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1714px;
  top:832px;
  width:22px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1672px;
  top:310px;
  width:417px;
  height:740px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u126 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1673px;
  top:339px;
  width:416px;
  height:723px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u128 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1685px;
  top:350px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1672px;
  top:398px;
  width:417px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u132 {
  position:absolute;
  left:2020px;
  top:955px;
  width:43px;
  height:35px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1771px;
  top:575px;
  width:300px;
  height:41px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1772px;
  top:635px;
  width:300px;
  height:41px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1773px;
  top:694px;
  width:300px;
  height:41px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1772px;
  top:757px;
  width:300px;
  height:41px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1685px;
  top:418px;
  width:134px;
  height:134px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u143 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1789px;
  top:522px;
  width:30px;
  height:30px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:2042px;
  top:359px;
  width:22px;
  height:22px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u147 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:2045px;
  top:580px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:2046px;
  top:637px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:2048px;
  top:691px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:2048px;
  top:761px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1715px;
  top:574px;
  width:47px;
  height:43px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u157 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1715px;
  top:636px;
  width:47px;
  height:43px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u159 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1716px;
  top:696px;
  width:47px;
  height:43px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u161 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1716px;
  top:759px;
  width:47px;
  height:43px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u163 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1681px;
  top:350px;
  width:406px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:40px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1666px;
  top:398px;
  width:434px;
  height:10px;
}
#u166_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_line {
  position:absolute;
  left:0px;
  top:5px;
  width:434px;
  height:1px;
}
#u167 {
  position:absolute;
  left:1680px;
  top:583px;
  width:25px;
  height:25px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1681px;
  top:644px;
  width:24px;
  height:24px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1672px;
  top:1012px;
  width:417px;
  height:50px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u172 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1681px;
  top:705px;
  width:25px;
  height:25px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1681px;
  top:765px;
  width:25px;
  height:25px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1685px;
  top:1023px;
  width:49px;
  height:28px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1961px;
  top:1023px;
  width:121px;
  height:28px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:1734px;
  top:1032px;
  width:596px;
  height:10px;
}
#u181_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:579px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:596px;
  height:1px;
}
#u182 {
  position:absolute;
  left:2364px;
  top:832px;
  width:22px;
  height:22px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u183 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:2322px;
  top:310px;
  width:417px;
  height:740px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u185 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:2323px;
  top:339px;
  width:416px;
  height:723px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u187 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:2335px;
  top:350px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:2322px;
  top:398px;
  width:417px;
  height:10px;
}
#u190_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u190_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u190_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u191 {
  position:absolute;
  left:2670px;
  top:955px;
  width:43px;
  height:35px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:2421px;
  top:575px;
  width:300px;
  height:41px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:2422px;
  top:635px;
  width:300px;
  height:41px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:2423px;
  top:694px;
  width:300px;
  height:41px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:2422px;
  top:757px;
  width:300px;
  height:41px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:2475px;
  top:522px;
  width:70px;
  height:27px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u202 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:2335px;
  top:418px;
  width:134px;
  height:134px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:134px;
}
#u204 {
  position:absolute;
  left:2px;
  top:59px;
  width:130px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:2439px;
  top:522px;
  width:30px;
  height:30px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u206 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:2692px;
  top:359px;
  width:22px;
  height:22px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u208 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:2695px;
  top:580px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:2696px;
  top:637px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:2698px;
  top:691px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:2698px;
  top:761px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:2365px;
  top:574px;
  width:47px;
  height:43px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u218 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:2365px;
  top:636px;
  width:47px;
  height:43px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u220 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:2366px;
  top:696px;
  width:47px;
  height:43px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u222 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:2366px;
  top:759px;
  width:47px;
  height:43px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u224 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:2331px;
  top:350px;
  width:406px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:40px;
}
#u226 {
  position:absolute;
  left:2px;
  top:2px;
  width:402px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:2316px;
  top:398px;
  width:434px;
  height:10px;
}
#u227_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u227_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:18px;
  height:20px;
}
#u227_line {
  position:absolute;
  left:0px;
  top:5px;
  width:434px;
  height:1px;
}
#u228 {
  position:absolute;
  left:2330px;
  top:583px;
  width:25px;
  height:25px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u229 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:2331px;
  top:644px;
  width:24px;
  height:24px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u231 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:2322px;
  top:1012px;
  width:417px;
  height:50px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:50px;
}
#u233 {
  position:absolute;
  left:2px;
  top:17px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:2331px;
  top:705px;
  width:25px;
  height:25px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u235 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:2331px;
  top:765px;
  width:25px;
  height:25px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u237 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:2335px;
  top:1023px;
  width:49px;
  height:28px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:2611px;
  top:1023px;
  width:121px;
  height:28px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:2324px;
  top:339px;
  width:415px;
  height:723px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:723px;
}
#u243 {
  position:absolute;
  left:2px;
  top:354px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:2394px;
  top:581px;
  width:294px;
  height:165px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:165px;
}
#u245 {
  position:absolute;
  left:2px;
  top:74px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:2386px;
  top:689px;
  width:302px;
  height:10px;
}
#u246_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u246_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u246_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u247 {
  position:absolute;
  left:2384px;
  top:587px;
  width:260px;
  height:66px;
  font-size:18px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:66px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:2444px;
  top:705px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:2596px;
  top:707px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:2532px;
  top:695px;
  width:10px;
  height:52px;
}
#u253_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u253_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:18px;
}
#u253_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:52px;
}
#u254 {
  position:absolute;
  left:2394px;
  top:581px;
  width:294px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u255 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:2456px;
  top:664px;
  width:121px;
  height:16px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:2587px;
  top:669px;
  width:213px;
  height:10px;
}
#u258_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u258_end {
  position:absolute;
  left:196px;
  top:-5px;
  width:18px;
  height:20px;
}
#u258_line {
  position:absolute;
  left:0px;
  top:5px;
  width:213px;
  height:1px;
}
#u259 {
  position:absolute;
  left:2820px;
  top:652px;
  width:220px;
  height:75px;
  font-size:16px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:75px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1148px;
  top:352px;
  width:34px;
  height:35px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:2429px;
  top:662px;
  width:18px;
  height:18px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u264 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:1000px;
  top:522px;
  width:65px;
  height:27px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u266 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:1065px;
  top:522px;
  width:65px;
  height:27px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u268 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:1832px;
  top:522px;
  width:65px;
  height:27px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u270 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:1897px;
  top:522px;
  width:65px;
  height:27px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u272 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:1962px;
  top:522px;
  width:65px;
  height:27px;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u274 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:1030px;
  top:530px;
  width:210px;
  height:10px;
}
#u275_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u275_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u275_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u276 {
  position:absolute;
  left:1250px;
  top:526px;
  width:324px;
  height:19px;
  font-size:16px;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:19px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
