﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:166px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:139px;
  top:240px;
  width:50px;
  height:28px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:441px;
  top:240px;
  width:31px;
  height:31px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:144px;
  top:301px;
  width:323px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u14 {
  position:absolute;
  left:156px;
  top:285px;
  width:27px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:180px;
  top:324px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:426px;
  top:322px;
  width:25px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:150px;
  top:320px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:360px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:426px;
  top:358px;
  width:25px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:150px;
  top:358px;
  width:26px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:180px;
  top:398px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:426px;
  top:396px;
  width:25px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:150px;
  top:394px;
  width:26px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1050px;
  top:220px;
  width:360px;
  height:640px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u35 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1050px;
  top:220px;
  width:360px;
  height:75px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u37 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1050px;
  top:220px;
  width:360px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1088px;
  top:260px;
  width:167px;
  height:24px;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1058px;
  top:258px;
  width:30px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1068px;
  top:321px;
  width:323px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u45 {
  position:absolute;
  left:1080px;
  top:305px;
  width:27px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1068px;
  top:423px;
  width:323px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u48 {
  position:absolute;
  left:1080px;
  top:407px;
  width:27px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1077px;
  top:441px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1357px;
  top:439px;
  width:25px;
  height:25px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1340px;
  top:441px;
  width:17px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1077px;
  top:472px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1357px;
  top:470px;
  width:25px;
  height:25px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1340px;
  top:472px;
  width:17px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1338px;
  top:515px;
  width:45px;
  height:2px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1340px;
  top:505px;
  width:22px;
  height:22px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1078px;
  top:505px;
  width:157px;
  height:25px;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1337px;
  top:547px;
  width:45px;
  height:2px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1339px;
  top:537px;
  width:22px;
  height:22px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u71 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1077px;
  top:537px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1338px;
  top:579px;
  width:45px;
  height:2px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1340px;
  top:569px;
  width:22px;
  height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1078px;
  top:569px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1078px;
  top:603px;
  width:197px;
  height:25px;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:1358px;
  top:601px;
  width:25px;
  height:25px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1080px;
  top:337px;
  width:127px;
  height:25px;
  font-size:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:1360px;
  top:335px;
  width:25px;
  height:25px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1314px;
  top:337px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1080px;
  top:368px;
  width:155px;
  height:25px;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1360px;
  top:366px;
  width:25px;
  height:25px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u93 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1314px;
  top:368px;
  width:49px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1078px;
  top:632px;
  width:127px;
  height:25px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1358px;
  top:630px;
  width:25px;
  height:25px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1341px;
  top:632px;
  width:17px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:1080px;
  top:680px;
  width:323px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u103 {
  position:absolute;
  left:1092px;
  top:664px;
  width:27px;
  height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1080px;
  top:699px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:1360px;
  top:697px;
  width:25px;
  height:25px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1910px;
  top:220px;
  width:360px;
  height:640px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u110 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1910px;
  top:220px;
  width:360px;
  height:75px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u112 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1910px;
  top:220px;
  width:360px;
  height:30px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1948px;
  top:260px;
  width:167px;
  height:24px;
  font-size:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1918px;
  top:258px;
  width:30px;
  height:30px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:2198px;
  top:326px;
  width:45px;
  height:2px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:2200px;
  top:315px;
  width:22px;
  height:22px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u122 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1937px;
  top:315px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1928px;
  top:343px;
  width:323px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u126 {
  position:absolute;
  left:1937px;
  top:363px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1937px;
  top:424px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:1937px;
  top:484px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:1937px;
  top:385px;
  width:279px;
  height:18px;
  color:#999999;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1937px;
  top:445px;
  width:284px;
  height:18px;
  color:#999999;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1937px;
  top:506px;
  width:294px;
  height:18px;
  color:#999999;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:18px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:2221px;
  top:492px;
  width:26px;
  height:26px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u139 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
