﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:252px;
  width:308px;
  height:21px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u2 {
  position:absolute;
  left:72px;
  top:273px;
  width:308px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:521px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u4 {
  position:absolute;
  left:126px;
  top:442px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u5 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u6 {
  position:absolute;
  left:340px;
  top:702px;
  width:200px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u7 {
  position:absolute;
  left:418px;
  top:662px;
  width:122px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u9 {
  position:absolute;
  left:550px;
  top:252px;
  width:308px;
  height:21px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u11 {
  position:absolute;
  left:550px;
  top:273px;
  width:308px;
  height:520px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:521px;
}
#u12 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u13 {
  position:absolute;
  left:604px;
  top:442px;
  width:200px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u14 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u15 {
  position:absolute;
  left:550px;
  top:252px;
  width:308px;
  height:21px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:18px;
}
#u17 {
  position:absolute;
  left:830px;
  top:258px;
  width:140px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:14px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u18 {
  position:absolute;
  left:866px;
  top:282px;
  width:84px;
  height:123px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:124px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:123px;
}
#u20 {
  position:absolute;
  left:980px;
  top:252px;
  width:308px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u22 {
  position:absolute;
  left:980px;
  top:273px;
  width:308px;
  height:520px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:521px;
}
#u23 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u24 {
  position:absolute;
  left:1034px;
  top:442px;
  width:200px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u25 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u26 {
  position:absolute;
  left:515px;
  top:76px;
  width:315px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:59px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:67px;
}
#u28 {
  position:absolute;
  left:48px;
  top:30px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u30 {
  position:absolute;
  left:48px;
  top:150px;
  width:3952px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
