﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:190px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:190px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:629px;
  top:197px;
  width:300px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u9 {
  position:absolute;
  left:110px;
  top:230px;
  width:340px;
  height:65px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:120px;
  top:237px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:180px;
  top:247px;
  width:74px;
  height:18px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:180px;
  top:269px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:419px;
  top:250px;
  width:25px;
  height:25px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:110px;
  top:305px;
  width:340px;
  height:65px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u20 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:127px;
  top:319px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:127px;
  top:344px;
  width:103px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:12px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:110px;
  top:380px;
  width:340px;
  height:65px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:127px;
  top:394px;
  width:152px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:127px;
  top:419px;
  width:273px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:329px;
  top:399px;
  width:90px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:419px;
  top:399px;
  width:25px;
  height:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:110px;
  top:455px;
  width:340px;
  height:65px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u36 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:173px;
  top:472px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:173px;
  top:494px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:466px;
  width:43px;
  height:43px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:419px;
  top:246px;
  width:200px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u44 {
  position:absolute;
  left:410px;
  top:332px;
  width:30px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:419px;
  top:345px;
  width:200px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u47 {
  position:absolute;
  left:629px;
  top:341px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:110px;
  top:530px;
  width:340px;
  height:65px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:173px;
  top:547px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:173px;
  top:569px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:120px;
  top:541px;
  width:43px;
  height:43px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:101px;
  top:605px;
  width:290px;
  height:65px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:65px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:114px;
  top:622px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:114px;
  top:644px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:392px;
  top:605px;
  width:60px;
  height:65px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:402px;
  top:618px;
  width:39px;
  height:39px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
