﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:100px;
  width:1188px;
  height:528px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:528px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:650px;
  width:1450px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1433px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1450px;
  height:1px;
}
#u3 {
  position:absolute;
  left:700px;
  top:860px;
  width:320px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:772px;
  top:867px;
  width:116px;
  height:22px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:710px;
  top:865px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:110px;
  top:740px;
  width:750px;
  height:880px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:880px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:772px;
  top:897px;
  width:200px;
  height:18px;
  font-size:15px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:700px;
  top:1300px;
  width:320px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:771px;
  top:1307px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:710px;
  top:1305px;
  width:50px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:770px;
  top:1337px;
  width:130px;
  height:18px;
  font-size:15px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:700px;
  top:1063px;
  width:320px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:772px;
  top:1070px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:710px;
  top:1068px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:772px;
  top:1100px;
  width:194px;
  height:18px;
  font-size:15px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:772px;
  top:1370px;
  width:62px;
  height:18px;
  font-size:15px;
  color:#999999;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:772px;
  top:1397px;
  width:47px;
  height:18px;
  font-size:15px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
