﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:29px;
  top:177px;
  width:261px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
}
#u2 {
  position:absolute;
  left:496px;
  top:58px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u4 {
  position:absolute;
  left:29px;
  top:12px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u6 {
  position:absolute;
  left:29px;
  top:132px;
  width:3952px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
#u7 {
  position:absolute;
  left:159px;
  top:275px;
  width:290px;
  height:515px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u8 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u9 {
  position:absolute;
  left:159px;
  top:275px;
  width:290px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u11 {
  position:absolute;
  left:282px;
  top:295px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u13 {
  position:absolute;
  left:344px;
  top:295px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:159px;
  top:295px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u17 {
  position:absolute;
  left:221px;
  top:295px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u19 {
  position:absolute;
  left:235px;
  top:432px;
  width:138px;
  height:133px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:134px;
}
#u20 {
  position:absolute;
  left:2px;
  top:58px;
  width:134px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
}
#u21 {
  position:absolute;
  left:211px;
  top:585px;
  width:187px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
}
#u23 {
  position:absolute;
  left:283px;
  top:703px;
  width:41px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u25 {
  position:absolute;
  left:406px;
  top:295px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u27 {
  position:absolute;
  left:293px;
  top:718px;
  width:21px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:21px;
  height:2px;
}
#u28 {
  position:absolute;
  left:299px;
  top:711px;
  width:10px;
  height:24px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:14px;
}
#u28_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:24px;
}
#u29 {
  position:absolute;
  left:445px;
  top:303px;
  width:145px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:136px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:145px;
  height:1px;
}
#u30 {
  position:absolute;
  left:610px;
  top:275px;
  width:290px;
  height:515px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u31 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u32 {
  position:absolute;
  left:610px;
  top:275px;
  width:290px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u34 {
  position:absolute;
  left:502px;
  top:288px;
  width:61px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u36 {
  position:absolute;
  left:626px;
  top:306px;
  width:14px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:5px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:1px;
}
#u37 {
  position:absolute;
  left:625px;
  top:304px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u37_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u38 {
  position:absolute;
  left:625px;
  top:308px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u39 {
  position:absolute;
  left:610px;
  top:323px;
  width:290px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u40 {
  position:absolute;
  left:654px;
  top:301px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u42 {
  position:absolute;
  left:626px;
  top:350px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u44 {
  position:absolute;
  left:626px;
  top:395px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u46 {
  position:absolute;
  left:626px;
  top:440px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u48 {
  position:absolute;
  left:626px;
  top:464px;
  width:127px;
  height:20px;
  font-size:14px;
  color:#949494;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u50 {
  position:absolute;
  left:700px;
  top:354px;
  width:180px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:171px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:180px;
  height:2px;
}
#u51 {
  position:absolute;
  left:730px;
  top:352px;
  width:11px;
  height:11px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
}
#u53 {
  position:absolute;
  left:838px;
  top:442px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u55 {
  position:absolute;
  left:838px;
  top:440px;
  width:19px;
  height:19px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u57 {
  position:absolute;
  left:838px;
  top:397px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u59 {
  position:absolute;
  left:860px;
  top:395px;
  width:19px;
  height:19px;
  color:#CC3333;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u61 {
  position:absolute;
  left:890px;
  top:420px;
  width:90px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:81px;
  top:-5px;
  width:14px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u62 {
  position:absolute;
  left:990px;
  top:418px;
  width:280px;
  height:36px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
