﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:190px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:190px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:522px;
  width:340px;
  height:65px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:173px;
  top:539px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:173px;
  top:561px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:120px;
  top:533px;
  width:43px;
  height:43px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:110px;
  top:597px;
  width:340px;
  height:65px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:173px;
  top:614px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:173px;
  top:636px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:120px;
  top:608px;
  width:43px;
  height:43px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:101px;
  top:672px;
  width:290px;
  height:65px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:65px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:114px;
  top:689px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:114px;
  top:711px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:392px;
  top:672px;
  width:60px;
  height:65px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:402px;
  top:685px;
  width:39px;
  height:39px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:100px;
  top:20px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u33 {
  position:absolute;
  left:110px;
  top:372px;
  width:340px;
  height:65px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u34 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:173px;
  top:389px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:173px;
  top:411px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:120px;
  top:383px;
  width:43px;
  height:43px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:110px;
  top:447px;
  width:340px;
  height:65px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:173px;
  top:464px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:173px;
  top:486px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:120px;
  top:458px;
  width:43px;
  height:43px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:110px;
  top:297px;
  width:340px;
  height:65px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:173px;
  top:314px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:173px;
  top:336px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:120px;
  top:308px;
  width:43px;
  height:43px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:110px;
  top:747px;
  width:340px;
  height:65px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:173px;
  top:764px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:173px;
  top:786px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:120px;
  top:758px;
  width:43px;
  height:43px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:451px;
  top:693px;
  width:99px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u66 {
  position:absolute;
  left:570px;
  top:640px;
  width:281px;
  height:174px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:174px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
