﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:180px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:180px;
  width:360px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:197px;
  width:283px;
  height:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:600px;
  top:207px;
  width:320px;
  height:163px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:163px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:440px;
  top:213px;
  width:127px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:110px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:127px;
  height:1px;
}
#u9 {
  position:absolute;
  left:100px;
  top:20px;
  width:58px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
