﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:138px;
  width:785px;
  height:264px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:264px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:1100px;
  top:80px;
  width:320px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1168px;
  top:86px;
  width:227px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1168px;
  top:111px;
  width:112px;
  height:18px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1110px;
  top:84px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:120px;
  top:406px;
  width:308px;
  height:541px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u11 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1100px;
  top:180px;
  width:308px;
  height:541px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u13 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1100px;
  top:180px;
  width:308px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1140px;
  top:276px;
  width:240px;
  height:214px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:214px;
}
#u17 {
  position:absolute;
  left:2px;
  top:98px;
  width:236px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1100px;
  top:200px;
  width:308px;
  height:47px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1146px;
  top:500px;
  width:228px;
  height:54px;
  color:#999999;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:54px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1100px;
  top:636px;
  width:308px;
  height:50px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1110px;
  top:212px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1136px;
  top:210px;
  width:227px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1172px;
  top:696px;
  width:166px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
