﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:200px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:200px;
  width:360px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:225px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:409px;
  top:238px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:120px;
  top:238px;
  width:41px;
  height:28px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:100px;
  top:790px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:120px;
  top:795px;
  width:40px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:213px;
  top:795px;
  width:40px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:795px;
  width:40px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:307px;
  top:795px;
  width:40px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:450px;
  top:541px;
  width:109px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u24 {
  position:absolute;
  left:579px;
  top:530px;
  width:281px;
  height:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:450px;
  top:239px;
  width:109px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u27 {
  position:absolute;
  left:579px;
  top:235px;
  width:281px;
  height:138px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:138px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:110px;
  top:285px;
  width:340px;
  height:65px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:173px;
  top:302px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:173px;
  top:324px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:120px;
  top:296px;
  width:43px;
  height:43px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:110px;
  top:360px;
  width:340px;
  height:65px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:173px;
  top:377px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:173px;
  top:399px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:120px;
  top:371px;
  width:43px;
  height:43px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:110px;
  top:435px;
  width:340px;
  height:65px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:173px;
  top:452px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:173px;
  top:474px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:120px;
  top:446px;
  width:43px;
  height:43px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:110px;
  top:510px;
  width:340px;
  height:65px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u54 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:173px;
  top:527px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:173px;
  top:549px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:120px;
  top:521px;
  width:43px;
  height:43px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:110px;
  top:585px;
  width:340px;
  height:65px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u62 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:173px;
  top:602px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:173px;
  top:624px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:120px;
  top:596px;
  width:43px;
  height:43px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:110px;
  top:660px;
  width:340px;
  height:65px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:65px;
}
#u70 {
  position:absolute;
  left:2px;
  top:24px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:173px;
  top:677px;
  width:165px;
  height:18px;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:173px;
  top:699px;
  width:200px;
  height:12px;
  font-size:11px;
  color:#999999;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:12px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:120px;
  top:671px;
  width:43px;
  height:43px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:408px;
  top:532px;
  width:23px;
  height:23px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:406px;
  top:530px;
  width:26px;
  height:26px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u80 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:408px;
  top:681px;
  width:23px;
  height:23px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:407px;
  top:382px;
  width:23px;
  height:23px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:406px;
  top:380px;
  width:26px;
  height:26px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:407px;
  top:306px;
  width:23px;
  height:23px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:406px;
  top:304px;
  width:26px;
  height:26px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:407px;
  top:456px;
  width:23px;
  height:23px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:406px;
  top:454px;
  width:26px;
  height:26px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:408px;
  top:606px;
  width:23px;
  height:23px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:450px;
  top:806px;
  width:109px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u98 {
  position:absolute;
  left:579px;
  top:795px;
  width:281px;
  height:144px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:144px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:100px;
  top:1030px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:120px;
  top:1035px;
  width:40px;
  height:40px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u103 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:213px;
  top:1035px;
  width:40px;
  height:40px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:400px;
  top:1035px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:307px;
  top:1035px;
  width:40px;
  height:40px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:450px;
  top:1053px;
  width:109px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u111 {
  position:absolute;
  left:579px;
  top:1042px;
  width:281px;
  height:108px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:108px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:100px;
  top:1270px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u114 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:120px;
  top:1275px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:213px;
  top:1275px;
  width:40px;
  height:40px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:400px;
  top:1275px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u120 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:307px;
  top:1275px;
  width:40px;
  height:40px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:100px;
  top:1200px;
  width:360px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:100px;
  top:1510px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u126 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:120px;
  top:1515px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:213px;
  top:1515px;
  width:40px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:307px;
  top:1515px;
  width:40px;
  height:40px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:100px;
  top:1400px;
  width:360px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:36px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:100px;
  top:1463px;
  width:360px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u136 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:120px;
  top:1468px;
  width:40px;
  height:40px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u138 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:213px;
  top:1468px;
  width:40px;
  height:40px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u140 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:400px;
  top:1490px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:307px;
  top:1468px;
  width:40px;
  height:40px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u144 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
