﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:452px;
  top:230px;
  width:396px;
  height:124px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:124px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:465px;
  top:1002px;
  width:155px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:151px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:457px;
  top:883px;
  width:170px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1006px;
  top:206px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:450px;
  top:1270px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:542px;
  top:943px;
  height:59px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:73px;
}
#u10_seg1 {
  position:absolute;
  left:-5px;
  top:49px;
  width:15px;
  height:20px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:542px;
  top:1112px;
  width:0px;
  height:50px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:542px;
  top:1220px;
  width:0px;
  height:50px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:964px;
  top:332px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1057px;
  top:272px;
  height:60px;
  color:#0000FF;
}
#u18_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u18_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:74px;
}
#u19 {
  position:absolute;
  left:-51px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:964px;
  top:440px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1057px;
  top:392px;
  height:48px;
  color:#0000FF;
}
#u22_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u23 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:964px;
  top:548px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1057px;
  top:500px;
  height:48px;
  color:#0000FF;
}
#u26_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u27 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:964px;
  top:656px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1057px;
  top:608px;
  height:48px;
  color:#0000FF;
}
#u30_seg0 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:15px;
  height:20px;
}
#u30_seg1 {
  position:absolute;
  left:-11px;
  top:-10px;
  width:20px;
  height:62px;
}
#u31 {
  position:absolute;
  left:-51px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:964px;
  top:884px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:181px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1057px;
  top:716px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:964px;
  top:770px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:964px;
  top:1000px;
  width:185px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:21px;
  width:181px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1057px;
  top:830px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u41 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1057px;
  top:946px;
  width:0px;
  height:54px;
  color:#0000FF;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:68px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1134px;
  top:552px;
  width:70px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u45 {
  position:absolute;
  left:1214px;
  top:552px;
  width:237px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:44px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1134px;
  top:892px;
  width:70px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u48 {
  position:absolute;
  left:1214px;
  top:892px;
  width:256px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:66px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:964px;
  top:912px;
  width:-337px;
  height:8px;
}
#u50_seg0 {
  position:absolute;
  left:-347px;
  top:-10px;
  width:351px;
  height:20px;
}
#u50_seg1 {
  position:absolute;
  left:-347px;
  top:-10px;
  width:20px;
  height:22px;
}
#u51 {
  position:absolute;
  left:-222px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:457px;
  top:1160px;
  width:170px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:1027px;
  width:170px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:465px;
  top:1057px;
  width:-65px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:-69px;
  top:-10px;
  width:79px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:570px;
  top:1024px;
  width:70px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u59 {
  position:absolute;
  left:650px;
  top:1024px;
  width:288px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:66px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
