﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1104px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:119px;
  top:268px;
  width:215px;
  height:382px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u1 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:119px;
  top:268px;
  width:215px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:119px;
  top:284px;
  width:215px;
  height:33px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:114px;
  top:286px;
  width:27px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u8 {
  position:absolute;
  left:136px;
  top:401px;
  width:180px;
  height:24px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u10 {
  position:absolute;
  left:136px;
  top:491px;
  width:180px;
  height:24px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u12 {
  position:absolute;
  left:288px;
  top:399px;
  width:32px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u14 {
  position:absolute;
  left:138px;
  top:382px;
  width:150px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u16 {
  position:absolute;
  left:138px;
  top:472px;
  width:150px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u18 {
  position:absolute;
  left:136px;
  top:515px;
  width:180px;
  height:24px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u20 {
  position:absolute;
  left:136px;
  top:348px;
  width:180px;
  height:24px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u22 {
  position:absolute;
  left:138px;
  top:329px;
  width:150px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u24 {
  position:absolute;
  left:288px;
  top:346px;
  width:32px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u26 {
  position:absolute;
  left:288px;
  top:490px;
  width:32px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u28 {
  position:absolute;
  left:288px;
  top:514px;
  width:32px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u30 {
  position:absolute;
  left:136px;
  top:425px;
  width:180px;
  height:24px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u32 {
  position:absolute;
  left:288px;
  top:423px;
  width:32px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u34 {
  position:absolute;
  left:495px;
  top:263px;
  width:215px;
  height:382px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u35 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u36 {
  position:absolute;
  left:495px;
  top:263px;
  width:215px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u38 {
  position:absolute;
  left:495px;
  top:279px;
  width:215px;
  height:33px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u40 {
  position:absolute;
  left:489px;
  top:281px;
  width:27px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u42 {
  position:absolute;
  left:509px;
  top:371px;
  width:180px;
  height:45px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u44 {
  position:absolute;
  left:509px;
  top:416px;
  width:180px;
  height:45px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u45 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u46 {
  position:absolute;
  left:509px;
  top:460px;
  width:180px;
  height:45px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u48 {
  position:absolute;
  left:663px;
  top:378px;
  width:26px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u50 {
  position:absolute;
  left:519px;
  top:372px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u52 {
  position:absolute;
  left:519px;
  top:394px;
  width:150px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
}
#u54 {
  position:absolute;
  left:519px;
  top:418px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u56 {
  position:absolute;
  left:519px;
  top:440px;
  width:150px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
}
#u58 {
  position:absolute;
  left:519px;
  top:464px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u60 {
  position:absolute;
  left:519px;
  top:486px;
  width:150px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
}
#u62 {
  position:absolute;
  left:362px;
  top:435px;
  width:118px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:109px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  height:1px;
}
#u63 {
  position:absolute;
  left:369px;
  top:409px;
  width:81px;
  height:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u65 {
  position:absolute;
  left:719px;
  top:441px;
  width:90px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:81px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u66 {
  position:absolute;
  left:719px;
  top:409px;
  width:81px;
  height:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u68 {
  position:absolute;
  left:825px;
  top:263px;
  width:215px;
  height:382px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u69 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u70 {
  position:absolute;
  left:825px;
  top:263px;
  width:215px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u72 {
  position:absolute;
  left:825px;
  top:595px;
  width:72px;
  height:50px;
  font-size:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u73 {
  position:absolute;
  left:2px;
  top:17px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u74 {
  position:absolute;
  left:967px;
  top:595px;
  width:73px;
  height:50px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:51px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:69px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u76 {
  position:absolute;
  left:825px;
  top:546px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u77 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u78 {
  position:absolute;
  left:897px;
  top:546px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u79 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u80 {
  position:absolute;
  left:967px;
  top:546px;
  width:73px;
  height:51px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u81 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u82 {
  position:absolute;
  left:825px;
  top:495px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u83 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u84 {
  position:absolute;
  left:897px;
  top:495px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u85 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u86 {
  position:absolute;
  left:967px;
  top:495px;
  width:73px;
  height:51px;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u87 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u88 {
  position:absolute;
  left:825px;
  top:446px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u89 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u90 {
  position:absolute;
  left:897px;
  top:446px;
  width:72px;
  height:51px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u91 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u92 {
  position:absolute;
  left:967px;
  top:446px;
  width:73px;
  height:51px;
  font-size:14px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u93 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u94 {
  position:absolute;
  left:839px;
  top:377px;
  width:179px;
  height:16px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
}
#u96 {
  position:absolute;
  left:847px;
  top:403px;
  width:170px;
  height:28px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:29px;
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u98 {
  position:absolute;
  left:847px;
  top:403px;
  width:44px;
  height:28px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u99 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u100 {
  position:absolute;
  left:891px;
  top:403px;
  width:42px;
  height:28px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u102 {
  position:absolute;
  left:933px;
  top:403px;
  width:42px;
  height:28px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u104 {
  position:absolute;
  left:975px;
  top:403px;
  width:42px;
  height:28px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u106 {
  position:absolute;
  left:897px;
  top:597px;
  width:70px;
  height:48px;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
}
#u107 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u108 {
  position:absolute;
  left:825px;
  top:279px;
  width:215px;
  height:33px;
  text-align:left;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u110 {
  position:absolute;
  left:819px;
  top:281px;
  width:27px;
  height:28px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u112 {
  position:absolute;
  left:804px;
  top:90px;
  width:300px;
  height:128px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:129px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
}
#u114 {
  position:absolute;
  left:509px;
  top:505px;
  width:180px;
  height:45px;
  text-align:left;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u115 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u116 {
  position:absolute;
  left:519px;
  top:509px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u118 {
  position:absolute;
  left:519px;
  top:531px;
  width:150px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
}
#u120 {
  position:absolute;
  left:509px;
  top:326px;
  width:180px;
  height:45px;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u122 {
  position:absolute;
  left:519px;
  top:327px;
  width:150px;
  height:19px;
  font-size:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u124 {
  position:absolute;
  left:519px;
  top:349px;
  width:150px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
}
#u126 {
  position:absolute;
  left:652px;
  top:482px;
  width:48px;
  height:78px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:78px;
}
#u127 {
  position:absolute;
  left:2px;
  top:31px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
