﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:190px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:165px;
  top:240px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:135px;
  top:238px;
  width:30px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:140px;
  top:296px;
  width:330px;
  height:196px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
#u12 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:175px;
  top:346px;
  width:151px;
  height:25px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:175px;
  top:318px;
  width:183px;
  height:25px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:175px;
  top:372px;
  width:146px;
  height:25px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:142px;
  top:512px;
  width:250px;
  height:25px;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:142px;
  top:576px;
  width:260px;
  height:25px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:142px;
  top:608px;
  width:129px;
  height:25px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:142px;
  top:544px;
  width:155px;
  height:25px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:142px;
  top:766px;
  width:329px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:325px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:441px;
  top:238px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:910px;
  top:200px;
  width:360px;
  height:640px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u32 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:910px;
  top:200px;
  width:360px;
  height:75px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u34 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:950px;
  top:240px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:920px;
  top:238px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:925px;
  top:296px;
  width:330px;
  height:196px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
#u40 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:960px;
  top:346px;
  width:151px;
  height:25px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:960px;
  top:318px;
  width:183px;
  height:25px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:960px;
  top:372px;
  width:146px;
  height:25px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:927px;
  top:512px;
  width:250px;
  height:25px;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:927px;
  top:576px;
  width:260px;
  height:25px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:927px;
  top:608px;
  width:129px;
  height:25px;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:927px;
  top:544px;
  width:155px;
  height:25px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:927px;
  top:766px;
  width:329px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:325px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1226px;
  top:238px;
  width:30px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1740px;
  top:201px;
  width:360px;
  height:640px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u60 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1740px;
  top:201px;
  width:360px;
  height:75px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u62 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1780px;
  top:241px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1750px;
  top:239px;
  width:30px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1755px;
  top:297px;
  width:330px;
  height:196px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
#u68 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1790px;
  top:347px;
  width:151px;
  height:25px;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1790px;
  top:319px;
  width:183px;
  height:25px;
  font-size:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1790px;
  top:373px;
  width:146px;
  height:25px;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1757px;
  top:513px;
  width:250px;
  height:25px;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:1757px;
  top:577px;
  width:260px;
  height:25px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1757px;
  top:609px;
  width:129px;
  height:25px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1757px;
  top:545px;
  width:155px;
  height:25px;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1757px;
  top:767px;
  width:329px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
}
#u84 {
  position:absolute;
  left:2px;
  top:11px;
  width:325px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:2056px;
  top:239px;
  width:30px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1740px;
  top:275px;
  width:360px;
  height:565px;
  opacity:0.5;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:565px;
}
#u88 {
  position:absolute;
  left:2px;
  top:274px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1772px;
  top:373px;
  width:297px;
  height:160px;
  font-size:28px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:160px;
}
#u90 {
  position:absolute;
  left:2px;
  top:60px;
  width:293px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:2440px;
  top:201px;
  width:360px;
  height:640px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u92 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:2440px;
  top:201px;
  width:360px;
  height:75px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u94 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:2480px;
  top:241px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:2450px;
  top:239px;
  width:30px;
  height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:2455px;
  top:297px;
  width:330px;
  height:196px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:196px;
}
#u100 {
  position:absolute;
  left:2px;
  top:90px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:2490px;
  top:347px;
  width:151px;
  height:25px;
  font-size:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:2490px;
  top:319px;
  width:183px;
  height:25px;
  font-size:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:2490px;
  top:373px;
  width:146px;
  height:25px;
  font-size:18px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:2457px;
  top:513px;
  width:250px;
  height:25px;
  font-size:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:2457px;
  top:577px;
  width:260px;
  height:25px;
  font-size:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:2457px;
  top:609px;
  width:129px;
  height:25px;
  font-size:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:2457px;
  top:545px;
  width:155px;
  height:25px;
  font-size:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:2756px;
  top:239px;
  width:30px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:2457px;
  top:721px;
  width:329px;
  height:40px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:11px;
  width:325px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:620px;
  top:480px;
  width:200px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u120 {
  position:absolute;
  left:620px;
  top:500px;
  width:87px;
  height:18px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1440px;
  top:478px;
  width:200px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u123 {
  position:absolute;
  left:1440px;
  top:498px;
  width:61px;
  height:18px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:2150px;
  top:478px;
  width:200px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u126 {
  position:absolute;
  left:2150px;
  top:498px;
  width:72px;
  height:18px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:2756px;
  top:738px;
  width:110px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u129 {
  position:absolute;
  left:2893px;
  top:732px;
  width:173px;
  height:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1757px;
  top:641px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:927px;
  top:640px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:910px;
  top:274px;
  width:360px;
  height:565px;
  opacity:0.5;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:565px;
}
#u136 {
  position:absolute;
  left:2px;
  top:274px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:942px;
  top:373px;
  width:297px;
  height:160px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:160px;
}
#u138 {
  position:absolute;
  left:2px;
  top:72px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:942px;
  top:471px;
  width:297px;
  height:10px;
}
#u139_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_end {
  position:absolute;
  left:280px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_line {
  position:absolute;
  left:0px;
  top:5px;
  width:297px;
  height:1px;
}
#u140 {
  position:absolute;
  left:1064px;
  top:501px;
  width:56px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:56px;
  height:1px;
}
#u141 {
  position:absolute;
  left:1150px;
  top:495px;
  width:38px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:998px;
  top:497px;
  width:38px;
  height:19px;
  font-size:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:964px;
  top:392px;
  width:251px;
  height:69px;
  font-size:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:69px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:142px;
  top:640px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:125px;
  top:275px;
  width:360px;
  height:565px;
  opacity:0.5;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:565px;
}
#u150 {
  position:absolute;
  left:2px;
  top:274px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:125px;
  top:715px;
  width:360px;
  height:125px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:125px;
}
#u152 {
  position:absolute;
  left:2px;
  top:54px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:125px;
  top:771px;
  width:360px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u154 {
  position:absolute;
  left:272px;
  top:739px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:272px;
  top:797px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:2457px;
  top:641px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:471px;
  top:248px;
  width:59px;
  height:10px;
}
#u160_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_line {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  height:1px;
}
#u161 {
  position:absolute;
  left:557px;
  top:240px;
  width:173px;
  height:36px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:471px;
  top:743px;
  width:59px;
  height:10px;
}
#u163_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_line {
  position:absolute;
  left:0px;
  top:5px;
  width:59px;
  height:1px;
}
#u164 {
  position:absolute;
  left:557px;
  top:735px;
  width:173px;
  height:105px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:105px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
