﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:334px;
  width:92px;
  height:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:43px;
  top:30px;
  width:447px;
  height:45px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u5 {
  position:absolute;
  left:62px;
  top:131px;
  width:268px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:62px;
  top:149px;
  width:268px;
  height:452px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u8 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:80px;
  top:137px;
  width:52px;
  height:10px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:76px;
  top:233px;
  width:241px;
  height:139px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u12 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:286px;
  top:345px;
  width:18px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u14 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:92px;
  top:289px;
  width:6px;
  height:6px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:285px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:290px;
  top:241px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:62px;
  top:149px;
  width:268px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:74px;
  top:157px;
  width:163px;
  height:15px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:294px;
  top:149px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:262px;
  top:157px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:76px;
  top:263px;
  width:241px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u30 {
  position:absolute;
  left:92px;
  top:243px;
  width:53px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:76px;
  top:179px;
  width:117px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:188px;
  top:193px;
  width:16px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:62px;
  top:555px;
  width:268px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u37 {
  position:absolute;
  left:130px;
  top:569px;
  width:47px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:224px;
  top:567px;
  width:10px;
  height:23px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u40 {
  position:absolute;
  left:258px;
  top:569px;
  width:48px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:76px;
  top:305px;
  width:241px;
  height:100px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:100px;
}
#u43 {
  position:absolute;
  left:2px;
  top:42px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:286px;
  top:313px;
  width:18px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u45 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:92px;
  top:345px;
  width:6px;
  height:6px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:110px;
  top:339px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:76px;
  top:415px;
  width:241px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:190px;
  top:421px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:62px;
  top:557px;
  width:268px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u55 {
  position:absolute;
  left:128px;
  top:573px;
  width:47px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:224px;
  top:571px;
  width:10px;
  height:23px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u58 {
  position:absolute;
  left:256px;
  top:573px;
  width:48px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:62px;
  top:131px;
  width:268px;
  height:470px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:470px;
}
#u61 {
  position:absolute;
  left:2px;
  top:227px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:62px;
  top:267px;
  width:268px;
  height:334px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:334px;
}
#u63 {
  position:absolute;
  left:2px;
  top:159px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:176px;
  top:313px;
  width:34px;
  height:18px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:74px;
  top:343px;
  width:14px;
  height:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:96px;
  top:341px;
  width:193px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:300px;
  top:315px;
  width:14px;
  height:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:74px;
  top:365px;
  width:14px;
  height:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:96px;
  top:363px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:74px;
  top:389px;
  width:12px;
  height:12px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:98px;
  top:385px;
  width:102px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:62px;
  top:415px;
  width:268px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u81 {
  position:absolute;
  left:176px;
  top:443px;
  width:34px;
  height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:74px;
  top:473px;
  width:14px;
  height:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:98px;
  top:471px;
  width:217px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:74px;
  top:495px;
  width:14px;
  height:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:96px;
  top:493px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:74px;
  top:519px;
  width:12px;
  height:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:98px;
  top:515px;
  width:104px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:264px;
  top:313px;
  width:17px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u96 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:300px;
  top:445px;
  width:14px;
  height:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:264px;
  top:443px;
  width:17px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u100 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:314px;
  top:318px;
  width:203px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:186px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:203px;
  height:1px;
}
#u102 {
  position:absolute;
  left:532px;
  top:131px;
  width:268px;
  height:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u103 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:532px;
  top:149px;
  width:268px;
  height:452px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u105 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:552px;
  top:136px;
  width:52px;
  height:10px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:532px;
  top:184px;
  width:268px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u109 {
  position:absolute;
  left:552px;
  top:156px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#515151;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:746px;
  top:158px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#515151;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:546px;
  top:204px;
  width:241px;
  height:180px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
}
#u114 {
  position:absolute;
  left:2px;
  top:82px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:546px;
  top:268px;
  width:241px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u116 {
  position:absolute;
  left:546px;
  top:322px;
  width:241px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u117 {
  position:absolute;
  left:568px;
  top:230px;
  width:92px;
  height:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:568px;
  top:294px;
  width:27px;
  height:18px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:750px;
  top:296px;
  width:16px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u122 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:568px;
  top:348px;
  width:101px;
  height:15px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
