﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:34px;
  top:90px;
  width:746px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:737px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:746px;
  height:1px;
}
#u1 {
  position:absolute;
  left:50px;
  top:52px;
  width:567px;
  height:40px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:126px;
  top:318px;
  width:126px;
  height:22px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:600px;
  top:356px;
  width:222px;
  height:394px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:394px;
}
#u6 {
  position:absolute;
  left:2px;
  top:189px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:131px;
  top:356px;
  width:215px;
  height:382px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u8 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:140px;
  top:376px;
  width:37px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:132px;
  top:630px;
  width:215px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u12 {
  position:absolute;
  left:140px;
  top:391px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:223px;
  top:704px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:133px;
  top:691px;
  width:214px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:205px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:214px;
  height:1px;
}
#u17 {
  position:absolute;
  left:217px;
  top:360px;
  width:93px;
  height:16px;
  font-size:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:152px;
  top:449px;
  width:34px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:222px;
  top:449px;
  width:34px;
  height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:294px;
  top:449px;
  width:34px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:310px;
  top:363px;
  width:20px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:419px;
  top:560px;
  width:122px;
  height:16px;
  color:#0000FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:447px;
  top:445px;
  width:82px;
  height:54px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:55px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:357px;
  top:452px;
  width:80px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u32 {
  position:absolute;
  left:140px;
  top:362px;
  width:112px;
  height:14px;
  font-size:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:157px;
  top:480px;
  width:29px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:227px;
  top:481px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:298px;
  top:481px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:151px;
  top:505px;
  width:34px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:221px;
  top:505px;
  width:34px;
  height:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:293px;
  top:505px;
  width:34px;
  height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:156px;
  top:536px;
  width:29px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:226px;
  top:537px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:297px;
  top:537px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:150px;
  top:560px;
  width:34px;
  height:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:220px;
  top:560px;
  width:34px;
  height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:292px;
  top:560px;
  width:34px;
  height:28px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:155px;
  top:591px;
  width:29px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:224px;
  top:592px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:296px;
  top:592px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:231px;
  top:623px;
  width:4px;
  height:4px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:238px;
  top:623px;
  width:4px;
  height:4px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:232px;
  top:420px;
  width:93px;
  height:3px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:4px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:182px;
  top:420px;
  width:54px;
  height:3px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:4px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:232px;
  top:414px;
  width:14px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:207px;
  top:650px;
  width:70px;
  height:22px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:132px;
  top:110px;
  width:338px;
  height:110px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:111px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:600px;
  top:318px;
  width:200px;
  height:22px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:152px;
  top:412px;
  width:20px;
  height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:330px;
  top:366px;
  width:17px;
  height:15px;
  color:#000000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
