﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:100px;
  width:860px;
  height:230px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:230px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
