﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:94px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:140px;
  width:360px;
  height:640px;
  opacity:0.5;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:520px;
  top:681px;
  width:320px;
  height:117px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:348px;
  width:280px;
  height:160px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
}
#u8 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:246px;
  top:448px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:248px;
  top:372px;
  width:66px;
  height:66px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u12 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:590px;
  top:348px;
  width:280px;
  height:160px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
}
#u14 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:696px;
  top:448px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:698px;
  top:372px;
  width:66px;
  height:66px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u18 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:718px;
  top:398px;
  width:27px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
