﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1769px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:964px;
  top:400px;
  width:350px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:984px;
  top:410px;
  width:50px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1052px;
  top:415px;
  width:29px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1054px;
  top:440px;
  width:52px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:964px;
  top:495px;
  width:350px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:984px;
  top:505px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1052px;
  top:510px;
  width:29px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1054px;
  top:535px;
  width:66px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:674px;
  top:468px;
  width:270px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u17 {
  position:absolute;
  left:682px;
  top:488px;
  width:256px;
  height:54px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1324px;
  top:474px;
  width:61px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u20 {
  position:absolute;
  left:1395px;
  top:468px;
  width:150px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:964px;
  top:581px;
  width:350px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:984px;
  top:591px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1052px;
  top:596px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1054px;
  top:621px;
  width:118px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1285px;
  top:611px;
  width:61px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1356px;
  top:598px;
  width:399px;
  height:60px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:60px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:964px;
  top:681px;
  width:350px;
  height:70px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u34 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:984px;
  top:691px;
  width:50px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1052px;
  top:696px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1054px;
  top:721px;
  width:222px;
  height:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:1286px;
  top:713px;
  width:61px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u42 {
  position:absolute;
  left:1357px;
  top:700px;
  width:399px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:60px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:43px;
  top:30px;
  width:417px;
  height:45px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:45px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u47 {
  position:absolute;
  left:388px;
  top:302px;
  width:276px;
  height:19px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:388px;
  top:321px;
  width:276px;
  height:465px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u50 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:408px;
  top:307px;
  width:54px;
  height:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:587px;
  top:677px;
  width:50px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:602px;
  top:693px;
  width:20px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:425px;
  top:677px;
  width:50px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:429px;
  top:683px;
  width:43px;
  height:43px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:504px;
  top:677px;
  width:50px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:521px;
  top:694px;
  width:16px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:89px;
  top:302px;
  width:276px;
  height:19px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:19px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:89px;
  top:321px;
  width:276px;
  height:465px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:465px;
}
#u68 {
  position:absolute;
  left:2px;
  top:224px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:109px;
  top:307px;
  width:54px;
  height:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:288px;
  top:677px;
  width:50px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:205px;
  top:677px;
  width:50px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:303px;
  top:693px;
  width:20px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:217px;
  top:690px;
  width:10px;
  height:26px;
}
#u77_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u77_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u78 {
  position:absolute;
  left:231px;
  top:690px;
  width:10px;
  height:26px;
}
#u78_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u78_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u78_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:26px;
}
#u79 {
  position:absolute;
  left:126px;
  top:677px;
  width:50px;
  height:50px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:130px;
  top:683px;
  width:43px;
  height:43px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u82 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:108px;
  top:436px;
  width:237px;
  height:192px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u84 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:178px;
  top:376px;
  width:111px;
  height:37px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:408px;
  top:436px;
  width:237px;
  height:192px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:192px;
}
#u88 {
  position:absolute;
  left:2px;
  top:87px;
  width:233px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:199px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:257px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:326px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:474px;
  top:376px;
  width:111px;
  height:37px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:500px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:558px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:627px;
  top:638px;
  width:37px;
  height:12px;
  font-size:11px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:964px;
  top:790px;
  width:350px;
  height:70px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u104 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:984px;
  top:800px;
  width:50px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1052px;
  top:805px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:1054px;
  top:830px;
  width:118px;
  height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:964px;
  top:890px;
  width:350px;
  height:70px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u112 {
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:984px;
  top:900px;
  width:50px;
  height:50px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u114 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1052px;
  top:905px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:1054px;
  top:930px;
  width:157px;
  height:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:1293px;
  top:822px;
  width:61px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u120 {
  position:absolute;
  left:1364px;
  top:809px;
  width:399px;
  height:60px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:60px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1299px;
  top:922px;
  width:61px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:61px;
  height:1px;
}
#u123 {
  position:absolute;
  left:1370px;
  top:909px;
  width:399px;
  height:60px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:60px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
