﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1158px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:418px;
  top:380px;
  width:126px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:117px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:126px;
  height:1px;
}
#u1 {
  position:absolute;
  left:436px;
  top:354px;
  width:83px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u3 {
  position:absolute;
  left:629px;
  top:679px;
  width:122px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:14px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:122px;
  height:1px;
}
#u4 {
  position:absolute;
  left:705px;
  top:652px;
  width:93px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u6 {
  position:absolute;
  left:872px;
  top:767px;
  width:286px;
  height:243px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:244px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:272px;
}
#u8 {
  position:absolute;
  left:205px;
  top:83px;
  width:211px;
  height:96px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:97px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:96px;
}
#u10 {
  position:absolute;
  left:838px;
  top:246px;
  width:282px;
  height:249px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:250px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:240px;
}
#u12 {
  position:absolute;
  left:191px;
  top:179px;
  width:49px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u14 {
  position:absolute;
  left:590px;
  top:179px;
  width:49px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u16 {
  position:absolute;
  left:588px;
  top:748px;
  width:49px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u18 {
  position:absolute;
  left:584px;
  top:214px;
  width:215px;
  height:382px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u19 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u20 {
  position:absolute;
  left:584px;
  top:214px;
  width:215px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u22 {
  position:absolute;
  left:584px;
  top:230px;
  width:215px;
  height:38px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u23 {
  position:absolute;
  left:2px;
  top:11px;
  width:211px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u24 {
  position:absolute;
  left:580px;
  top:232px;
  width:38px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u26 {
  position:absolute;
  left:584px;
  top:774px;
  width:215px;
  height:381px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u27 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u28 {
  position:absolute;
  left:764px;
  top:235px;
  width:29px;
  height:27px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u30 {
  position:absolute;
  left:626px;
  top:845px;
  width:131px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u32 {
  position:absolute;
  left:584px;
  top:774px;
  width:214px;
  height:34px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u33 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u34 {
  position:absolute;
  left:584px;
  top:774px;
  width:38px;
  height:34px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u35 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u36 {
  position:absolute;
  left:600px;
  top:276px;
  width:127px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u38 {
  position:absolute;
  left:600px;
  top:395px;
  width:100px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u40 {
  position:absolute;
  left:764px;
  top:397px;
  width:16px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u42 {
  position:absolute;
  left:600px;
  top:518px;
  width:100px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u44 {
  position:absolute;
  left:764px;
  top:520px;
  width:16px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u46 {
  position:absolute;
  left:185px;
  top:214px;
  width:215px;
  height:382px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u47 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u48 {
  position:absolute;
  left:185px;
  top:214px;
  width:215px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u50 {
  position:absolute;
  left:185px;
  top:230px;
  width:215px;
  height:38px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
}
#u52 {
  position:absolute;
  left:181px;
  top:231px;
  width:38px;
  height:34px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u53 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u54 {
  position:absolute;
  left:227px;
  top:428px;
  width:27px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:330px;
  top:428px;
  width:27px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u58 {
  position:absolute;
  left:199px;
  top:278px;
  width:186px;
  height:145px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:145px;
}
#u59 {
  position:absolute;
  left:2px;
  top:64px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u60 {
  position:absolute;
  left:598px;
  top:295px;
  width:86px;
  height:93px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:94px;
}
#u61 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u62 {
  position:absolute;
  left:684px;
  top:295px;
  width:86px;
  height:47px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:48px;
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u64 {
  position:absolute;
  left:684px;
  top:342px;
  width:86px;
  height:46px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:47px;
}
#u65 {
  position:absolute;
  left:2px;
  top:15px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u66 {
  position:absolute;
  left:598px;
  top:418px;
  width:86px;
  height:93px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:94px;
}
#u67 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u68 {
  position:absolute;
  left:684px;
  top:418px;
  width:86px;
  height:47px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:48px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u70 {
  position:absolute;
  left:684px;
  top:465px;
  width:43px;
  height:46px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:47px;
}
#u71 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u72 {
  position:absolute;
  left:598px;
  top:534px;
  width:86px;
  height:62px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:63px;
}
#u73 {
  position:absolute;
  left:2px;
  top:23px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u74 {
  position:absolute;
  left:727px;
  top:465px;
  width:43px;
  height:46px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:47px;
}
#u75 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u76 {
  position:absolute;
  left:761px;
  top:272px;
  width:21px;
  height:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u78 {
  position:absolute;
  left:764px;
  top:275px;
  width:15px;
  height:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u80 {
  position:absolute;
  left:770px;
  top:777px;
  width:22px;
  height:26px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
