﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:862px;
  top:452px;
  width:270px;
  height:170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:862px;
  top:501px;
  width:270px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u3 {
  position:absolute;
  left:977px;
  top:467px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:872px;
  top:521px;
  width:249px;
  height:16px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:862px;
  top:572px;
  width:270px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u8 {
  position:absolute;
  left:992px;
  top:579px;
  width:10px;
  height:42px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u9 {
  position:absolute;
  left:911px;
  top:587px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1047px;
  top:587px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1193px;
  top:582px;
  width:142px;
  height:36px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:36px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:342px;
  top:150px;
  width:268px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:342px;
  top:168px;
  width:268px;
  height:452px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u18 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:360px;
  top:154px;
  width:60px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:374px;
  top:256px;
  width:210px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:214px;
}
#u22 {
  position:absolute;
  left:2px;
  top:89px;
  width:206px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:370px;
  top:566px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:510px;
  top:566px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:49px;
  top:40px;
  width:531px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:45px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:5px;
  top:95px;
  width:1585px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:1568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1585px;
  height:1px;
}
#u30 {
  position:absolute;
  left:600px;
  top:576px;
  width:230px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:213px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u31 {
  position:absolute;
  left:620px;
  top:530px;
  width:196px;
  height:36px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:36px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:850px;
  top:150px;
  width:222px;
  height:22px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:850px;
  top:420px;
  width:215px;
  height:22px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1123px;
  top:595px;
  width:60px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u38 {
  position:absolute;
  left:850px;
  top:668px;
  width:533px;
  height:22px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:862px;
  top:700px;
  width:270px;
  height:170px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u41 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:862px;
  top:749px;
  width:270px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u43 {
  position:absolute;
  left:977px;
  top:715px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:872px;
  top:769px;
  width:241px;
  height:16px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:862px;
  top:820px;
  width:270px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u48 {
  position:absolute;
  left:992px;
  top:827px;
  width:10px;
  height:42px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u49 {
  position:absolute;
  left:911px;
  top:835px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1042px;
  top:835px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:1180px;
  top:830px;
  width:181px;
  height:36px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1110px;
  top:842px;
  width:60px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u56 {
  position:absolute;
  left:49px;
  top:150px;
  width:268px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u57 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:49px;
  top:168px;
  width:268px;
  height:452px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u59 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:68px;
  top:153px;
  width:60px;
  height:11px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:87px;
  top:255px;
  width:200px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u63 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:49px;
  top:450px;
  width:268px;
  height:170px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:170px;
}
#u65 {
  position:absolute;
  left:2px;
  top:77px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:58px;
  top:518px;
  width:255px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:62px;
  top:466px;
  width:71px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:155px;
  top:560px;
  width:57px;
  height:16px;
  font-size:11px;
  color:#868686;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:128px;
  top:578px;
  width:110px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:227px;
  top:468px;
  width:78px;
  height:16px;
  font-size:11px;
  color:#00CC99;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:862px;
  top:200px;
  width:270px;
  height:170px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u77 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:862px;
  top:249px;
  width:270px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u79 {
  position:absolute;
  left:977px;
  top:215px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:872px;
  top:269px;
  width:209px;
  height:16px;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:862px;
  top:320px;
  width:270px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u84 {
  position:absolute;
  left:992px;
  top:327px;
  width:10px;
  height:42px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u84_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u85 {
  position:absolute;
  left:911px;
  top:335px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1029px;
  top:335px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1112px;
  top:342px;
  width:60px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u90 {
  position:absolute;
  left:1182px;
  top:330px;
  width:194px;
  height:36px;
  color:#000000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:850px;
  top:930px;
  width:222px;
  height:22px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:862px;
  top:962px;
  width:270px;
  height:170px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u95 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:862px;
  top:1011px;
  width:270px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u97 {
  position:absolute;
  left:977px;
  top:977px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:872px;
  top:1040px;
  width:257px;
  height:16px;
  font-size:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:862px;
  top:1082px;
  width:270px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u102 {
  position:absolute;
  left:974px;
  top:1097px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:1180px;
  top:1100px;
  width:92px;
  height:18px;
  color:#000000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1110px;
  top:1104px;
  width:60px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
