﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:32px;
  width:236px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:125px;
  top:270px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:125px;
  top:270px;
  width:360px;
  height:75px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:125px;
  top:270px;
  width:360px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:163px;
  top:310px;
  width:167px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:133px;
  top:308px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:143px;
  top:371px;
  width:323px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u14 {
  position:absolute;
  left:155px;
  top:355px;
  width:53px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:143px;
  top:439px;
  width:323px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u17 {
  position:absolute;
  left:155px;
  top:423px;
  width:53px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:155px;
  top:388px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:415px;
  top:398px;
  width:45px;
  height:2px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:417px;
  top:388px;
  width:22px;
  height:22px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:269px;
  top:490px;
  width:73px;
  height:150px;
  font-size:36px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:150px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:125px;
  top:224px;
  width:121px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:460px;
  top:516px;
  width:85px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u30 {
  position:absolute;
  left:555px;
  top:508px;
  width:173px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:460px;
  top:406px;
  width:85px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u33 {
  position:absolute;
  left:555px;
  top:398px;
  width:173px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
