﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1100px;
  top:602px;
  width:780px;
  height:788px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:788px;
}
#u1 {
  position:absolute;
  left:2px;
  top:386px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1140px;
  top:475px;
  width:450px;
  height:105px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:106px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
