﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:137px;
  top:141px;
  width:681px;
  height:707px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:83px;
  top:0px;
  width:73px;
  height:20px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:156px;
  top:0px;
  width:94px;
  height:20px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:0px;
  width:426px;
  height:20px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:20px;
  width:83px;
  height:20px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:83px;
  top:20px;
  width:73px;
  height:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:156px;
  top:20px;
  width:94px;
  height:20px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:250px;
  top:20px;
  width:426px;
  height:20px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:40px;
  width:83px;
  height:20px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:83px;
  top:40px;
  width:73px;
  height:20px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:156px;
  top:40px;
  width:94px;
  height:20px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:250px;
  top:40px;
  width:426px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:83px;
  height:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:83px;
  top:60px;
  width:73px;
  height:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:156px;
  top:60px;
  width:94px;
  height:20px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:250px;
  top:60px;
  width:426px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:80px;
  width:83px;
  height:132px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:132px;
}
#u34 {
  position:absolute;
  left:2px;
  top:58px;
  width:79px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:83px;
  top:80px;
  width:73px;
  height:132px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:132px;
}
#u36 {
  position:absolute;
  left:2px;
  top:58px;
  width:69px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:156px;
  top:80px;
  width:94px;
  height:132px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:132px;
}
#u38 {
  position:absolute;
  left:2px;
  top:58px;
  width:90px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:250px;
  top:80px;
  width:426px;
  height:132px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:132px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:422px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:212px;
  width:83px;
  height:52px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:83px;
  top:212px;
  width:73px;
  height:52px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:156px;
  top:212px;
  width:94px;
  height:52px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:250px;
  top:212px;
  width:426px;
  height:52px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:52px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:264px;
  width:83px;
  height:116px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:116px;
}
#u50 {
  position:absolute;
  left:2px;
  top:50px;
  width:79px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:83px;
  top:264px;
  width:73px;
  height:116px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:116px;
}
#u52 {
  position:absolute;
  left:2px;
  top:50px;
  width:69px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:156px;
  top:264px;
  width:94px;
  height:116px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:116px;
}
#u54 {
  position:absolute;
  left:2px;
  top:50px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:250px;
  top:264px;
  width:426px;
  height:116px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:116px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:380px;
  width:83px;
  height:84px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
}
#u58 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:83px;
  top:380px;
  width:73px;
  height:84px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:84px;
}
#u60 {
  position:absolute;
  left:2px;
  top:34px;
  width:69px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:156px;
  top:380px;
  width:94px;
  height:84px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:84px;
}
#u62 {
  position:absolute;
  left:2px;
  top:34px;
  width:90px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:250px;
  top:380px;
  width:426px;
  height:84px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:84px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:464px;
  width:83px;
  height:116px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:116px;
}
#u66 {
  position:absolute;
  left:2px;
  top:50px;
  width:79px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:83px;
  top:464px;
  width:73px;
  height:116px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:116px;
}
#u68 {
  position:absolute;
  left:2px;
  top:50px;
  width:69px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:156px;
  top:464px;
  width:94px;
  height:116px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:116px;
}
#u70 {
  position:absolute;
  left:2px;
  top:50px;
  width:90px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:250px;
  top:464px;
  width:426px;
  height:116px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:116px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:580px;
  width:83px;
  height:100px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:79px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:83px;
  top:580px;
  width:73px;
  height:100px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:100px;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:69px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:156px;
  top:580px;
  width:94px;
  height:100px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:100px;
}
#u78 {
  position:absolute;
  left:2px;
  top:42px;
  width:90px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:250px;
  top:580px;
  width:426px;
  height:100px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:680px;
  width:83px;
  height:22px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:83px;
  top:680px;
  width:73px;
  height:22px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:156px;
  top:680px;
  width:94px;
  height:22px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:250px;
  top:680px;
  width:426px;
  height:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:22px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:130px;
  top:70px;
  width:272px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
