﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:25px;
  width:129px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:7px;
  top:80px;
  width:1413px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1396px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1413px;
  height:1px;
}
#u3 {
  position:absolute;
  left:70px;
  top:130px;
  width:308px;
  height:21px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:150px;
  width:308px;
  height:520px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u6 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:190px;
  width:308px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u8 {
  position:absolute;
  left:81px;
  top:162px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:107px;
  top:160px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:348px;
  top:156px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:70px;
  top:403px;
  width:308px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u15 {
  position:absolute;
  left:86px;
  top:348px;
  width:111px;
  height:21px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:87px;
  top:378px;
  width:57px;
  height:18px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:87px;
  top:421px;
  width:276px;
  height:18px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:70px;
  top:195px;
  width:308px;
  height:136px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
}
#u22 {
  position:absolute;
  left:2px;
  top:60px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:89px;
  top:286px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:280px;
  top:238px;
  width:75px;
  height:75px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u26 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:334px;
  top:372px;
  width:28px;
  height:23px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:253px;
  top:135px;
  width:11px;
  height:11px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:462px;
  top:130px;
  width:308px;
  height:21px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:462px;
  top:150px;
  width:308px;
  height:520px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u34 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:462px;
  top:190px;
  width:308px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u36 {
  position:absolute;
  left:473px;
  top:162px;
  width:22px;
  height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:499px;
  top:160px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:740px;
  top:156px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:462px;
  top:403px;
  width:308px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u43 {
  position:absolute;
  left:478px;
  top:348px;
  width:111px;
  height:21px;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:479px;
  top:378px;
  width:57px;
  height:18px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:479px;
  top:421px;
  width:276px;
  height:18px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:462px;
  top:195px;
  width:308px;
  height:136px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:136px;
}
#u50 {
  position:absolute;
  left:2px;
  top:60px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:481px;
  top:286px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:672px;
  top:238px;
  width:75px;
  height:75px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u54 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:726px;
  top:372px;
  width:28px;
  height:23px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:645px;
  top:135px;
  width:11px;
  height:11px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:462px;
  top:129px;
  width:308px;
  height:541px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u60 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:462px;
  top:460px;
  width:308px;
  height:210px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:210px;
}
#u62 {
  position:absolute;
  left:2px;
  top:97px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:601px;
  top:634px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:462px;
  top:614px;
  width:308px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u66 {
  position:absolute;
  left:600px;
  top:584px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:462px;
  top:510px;
  width:308px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u69 {
  position:absolute;
  left:584px;
  top:479px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:366px;
  top:168px;
  width:86px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:69px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:86px;
  height:1px;
}
#u72 {
  position:absolute;
  left:850px;
  top:130px;
  width:308px;
  height:21px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:850px;
  top:150px;
  width:308px;
  height:520px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u75 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:850px;
  top:190px;
  width:308px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u77 {
  position:absolute;
  left:861px;
  top:162px;
  width:22px;
  height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:887px;
  top:159px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1033px;
  top:135px;
  width:11px;
  height:11px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:736px;
  top:485px;
  width:104px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u84 {
  position:absolute;
  left:462px;
  top:563px;
  width:308px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u85 {
  position:absolute;
  left:584px;
  top:532px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:864px;
  top:210px;
  width:280px;
  height:105px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:105px;
}
#u88 {
  position:absolute;
  left:2px;
  top:44px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:864px;
  top:258px;
  width:280px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u90 {
  position:absolute;
  left:882px;
  top:225px;
  width:86px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:882px;
  top:277px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1104px;
  top:277px;
  width:26px;
  height:26px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u95 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1071px;
  top:220px;
  width:59px;
  height:31px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1130px;
  top:230px;
  width:70px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u99 {
  position:absolute;
  left:1210px;
  top:225px;
  width:261px;
  height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:850px;
  top:761px;
  width:308px;
  height:21px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:850px;
  top:780px;
  width:308px;
  height:520px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u104 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:850px;
  top:820px;
  width:308px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u106 {
  position:absolute;
  left:861px;
  top:792px;
  width:22px;
  height:22px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u107 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:887px;
  top:789px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1033px;
  top:765px;
  width:11px;
  height:11px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:864px;
  top:840px;
  width:280px;
  height:200px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:200px;
}
#u113 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1034px;
  top:284px;
  width:10px;
  height:456px;
}
#u114_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u114_end {
  position:absolute;
  left:-5px;
  top:439px;
  width:20px;
  height:18px;
}
#u114_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:456px;
}
#u115 {
  position:absolute;
  left:672px;
  top:540px;
  width:10px;
  height:340px;
}
#u115_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u115_end {
  position:absolute;
  left:-5px;
  top:323px;
  width:20px;
  height:18px;
}
#u115_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:340px;
}
#u116 {
  position:absolute;
  left:677px;
  top:874px;
  width:158px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:141px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:158px;
  height:1px;
}
#u117 {
  position:absolute;
  left:1130px;
  top:970px;
  width:70px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u118 {
  position:absolute;
  left:1209px;
  top:966px;
  width:157px;
  height:15px;
  color:#FF0000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
