﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:30px;
  width:447px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:21px;
  top:90px;
  width:1339px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1322px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1339px;
  height:1px;
}
#u3 {
  position:absolute;
  left:510px;
  top:230px;
  width:270px;
  height:170px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u4 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:510px;
  top:278px;
  width:270px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u6 {
  position:absolute;
  left:625px;
  top:244px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:572px;
  top:306px;
  width:161px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:510px;
  top:350px;
  width:270px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u11 {
  position:absolute;
  left:640px;
  top:356px;
  width:10px;
  height:42px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u12 {
  position:absolute;
  left:560px;
  top:368px;
  width:37px;
  height:16px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:699px;
  top:368px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:440px;
  top:444px;
  width:222px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:62px;
  top:131px;
  width:268px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:62px;
  top:149px;
  width:268px;
  height:452px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u21 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:137px;
  width:52px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:76px;
  top:233px;
  width:241px;
  height:139px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:139px;
}
#u25 {
  position:absolute;
  left:2px;
  top:62px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:286px;
  top:345px;
  width:18px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:92px;
  top:289px;
  width:6px;
  height:6px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:110px;
  top:285px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:290px;
  top:241px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:62px;
  top:149px;
  width:268px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:74px;
  top:157px;
  width:163px;
  height:15px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:294px;
  top:149px;
  width:18px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:262px;
  top:157px;
  width:20px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:76px;
  top:263px;
  width:241px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u43 {
  position:absolute;
  left:92px;
  top:243px;
  width:53px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:76px;
  top:179px;
  width:117px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:188px;
  top:193px;
  width:16px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:62px;
  top:555px;
  width:268px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u50 {
  position:absolute;
  left:130px;
  top:569px;
  width:47px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:224px;
  top:567px;
  width:10px;
  height:23px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u53 {
  position:absolute;
  left:258px;
  top:569px;
  width:48px;
  height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:76px;
  top:305px;
  width:241px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:286px;
  top:313px;
  width:18px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u58 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:92px;
  top:345px;
  width:6px;
  height:6px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:110px;
  top:339px;
  width:144px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#C9C9C9;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:76px;
  top:415px;
  width:241px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:190px;
  top:421px;
  width:13px;
  height:15px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:62px;
  top:557px;
  width:268px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u68 {
  position:absolute;
  left:128px;
  top:573px;
  width:47px;
  height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:224px;
  top:571px;
  width:10px;
  height:23px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u71 {
  position:absolute;
  left:256px;
  top:573px;
  width:48px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:62px;
  top:131px;
  width:268px;
  height:470px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:470px;
}
#u74 {
  position:absolute;
  left:2px;
  top:227px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:62px;
  top:267px;
  width:268px;
  height:334px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:334px;
}
#u76 {
  position:absolute;
  left:2px;
  top:159px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:176px;
  top:313px;
  width:34px;
  height:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:74px;
  top:343px;
  width:14px;
  height:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:96px;
  top:341px;
  width:193px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:300px;
  top:315px;
  width:14px;
  height:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:74px;
  top:365px;
  width:14px;
  height:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:96px;
  top:363px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:74px;
  top:389px;
  width:12px;
  height:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:98px;
  top:385px;
  width:102px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:62px;
  top:415px;
  width:268px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u94 {
  position:absolute;
  left:176px;
  top:443px;
  width:34px;
  height:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:74px;
  top:473px;
  width:14px;
  height:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:98px;
  top:471px;
  width:217px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:17px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:74px;
  top:495px;
  width:14px;
  height:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:96px;
  top:493px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:74px;
  top:519px;
  width:12px;
  height:12px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:98px;
  top:515px;
  width:104px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:264px;
  top:313px;
  width:17px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:300px;
  top:445px;
  width:14px;
  height:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:264px;
  top:443px;
  width:17px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:210px;
  top:446px;
  width:220px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u115 {
  position:absolute;
  left:270px;
  top:316px;
  width:220px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
