﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:30px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:80px;
  width:998px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:998px;
  height:1px;
}
#u3 {
  position:absolute;
  left:77px;
  top:139px;
  width:849px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:26px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:66px;
  top:310px;
  width:824px;
  height:330px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:330px;
}
#u6 {
  position:absolute;
  left:2px;
  top:157px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:340px;
  width:760px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:756px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:106px;
  top:474px;
  width:730px;
  height:87px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:87px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:77px;
  top:197px;
  width:270px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:77px;
  top:250px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:66px;
  top:770px;
  width:824px;
  height:330px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:330px;
}
#u16 {
  position:absolute;
  left:2px;
  top:157px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:800px;
  width:760px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:41px;
  width:756px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:106px;
  top:934px;
  width:730px;
  height:105px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:105px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:77px;
  top:735px;
  width:417px;
  height:18px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
