﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:114px;
  width:1086px;
  height:1121px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:300px;
  top:0px;
  width:623px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:923px;
  top:0px;
  width:158px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:22px;
  width:100px;
  height:68px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:22px;
  width:100px;
  height:68px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:22px;
  width:100px;
  height:68px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:22px;
  width:623px;
  height:68px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:68px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:923px;
  top:22px;
  width:158px;
  height:68px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:68px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:69px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:69px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:69px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:90px;
  width:623px;
  height:69px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:69px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:923px;
  top:90px;
  width:158px;
  height:69px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:69px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:159px;
  width:100px;
  height:127px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:159px;
  width:100px;
  height:127px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:159px;
  width:100px;
  height:127px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:300px;
  top:159px;
  width:623px;
  height:127px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:127px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:923px;
  top:159px;
  width:158px;
  height:127px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:127px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:286px;
  width:100px;
  height:130px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:286px;
  width:100px;
  height:130px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:200px;
  top:286px;
  width:100px;
  height:130px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:300px;
  top:286px;
  width:623px;
  height:130px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:130px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:923px;
  top:286px;
  width:158px;
  height:130px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:130px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:416px;
  width:100px;
  height:130px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:416px;
  width:100px;
  height:130px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:200px;
  top:416px;
  width:100px;
  height:130px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:130px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:300px;
  top:416px;
  width:623px;
  height:130px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:130px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:923px;
  top:416px;
  width:158px;
  height:130px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:130px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:546px;
  width:100px;
  height:22px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:100px;
  top:546px;
  width:100px;
  height:22px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:200px;
  top:546px;
  width:100px;
  height:22px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:546px;
  width:623px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:923px;
  top:546px;
  width:158px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:568px;
  width:100px;
  height:76px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:100px;
  top:568px;
  width:100px;
  height:76px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:200px;
  top:568px;
  width:100px;
  height:76px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:300px;
  top:568px;
  width:623px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:76px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:923px;
  top:568px;
  width:158px;
  height:76px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:76px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:644px;
  width:100px;
  height:76px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:100px;
  top:644px;
  width:100px;
  height:76px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:200px;
  top:644px;
  width:100px;
  height:76px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:76px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:300px;
  top:644px;
  width:623px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:76px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:923px;
  top:644px;
  width:158px;
  height:76px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:76px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:720px;
  width:100px;
  height:94px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:100px;
  top:720px;
  width:100px;
  height:94px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:200px;
  top:720px;
  width:100px;
  height:94px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:300px;
  top:720px;
  width:623px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:94px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:923px;
  top:720px;
  width:158px;
  height:94px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:94px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:814px;
  width:100px;
  height:59px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:100px;
  top:814px;
  width:100px;
  height:59px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:200px;
  top:814px;
  width:100px;
  height:59px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:300px;
  top:814px;
  width:623px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:59px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:923px;
  top:814px;
  width:158px;
  height:59px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:59px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:873px;
  width:100px;
  height:55px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:100px;
  top:873px;
  width:100px;
  height:55px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:200px;
  top:873px;
  width:100px;
  height:55px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:300px;
  top:873px;
  width:623px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:55px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:923px;
  top:873px;
  width:158px;
  height:55px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:55px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:928px;
  width:100px;
  height:94px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:100px;
  top:928px;
  width:100px;
  height:94px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:200px;
  top:928px;
  width:100px;
  height:94px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:300px;
  top:928px;
  width:623px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:94px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:923px;
  top:928px;
  width:158px;
  height:94px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:94px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:1022px;
  width:100px;
  height:94px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:100px;
  top:1022px;
  width:100px;
  height:94px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:200px;
  top:1022px;
  width:100px;
  height:94px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:300px;
  top:1022px;
  width:623px;
  height:94px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:94px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:619px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:923px;
  top:1022px;
  width:158px;
  height:94px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:94px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:98px;
  top:88px;
  width:1082px;
  height:26px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:26px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:1078px;
  word-wrap:break-word;
}
