﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2181px;
  top:494px;
  width:69px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2695px;
  top:804px;
  width:22px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:2653px;
  top:324px;
  width:417px;
  height:740px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u5 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:2653px;
  top:353px;
  width:416px;
  height:723px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u7 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:2667px;
  top:364px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2653px;
  top:412px;
  width:417px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u11 {
  position:absolute;
  left:2667px;
  top:430px;
  width:102px;
  height:27px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:2673px;
  top:437px;
  width:13px;
  height:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:2721px;
  top:481px;
  width:288px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:44px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:2723px;
  top:515px;
  width:14px;
  height:16px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:2721px;
  top:535px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:2721px;
  top:598px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:2723px;
  top:660px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:2723px;
  top:721px;
  width:288px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:41px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:295px;
  top:266px;
  width:241px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:2743px;
  top:262px;
  width:217px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:3183px;
  top:430px;
  width:235px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:44px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:2995px;
  top:436px;
  width:176px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:159px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:176px;
  height:1px;
}
#u34 {
  position:absolute;
  left:739px;
  top:464px;
  width:271px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:66px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:702px;
  top:650px;
  width:314px;
  height:286px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:286px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:2779px;
  top:437px;
  width:94px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1500px;
  top:638px;
  width:314px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:110px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1888px;
  top:852px;
  width:22px;
  height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1846px;
  top:332px;
  width:417px;
  height:740px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u45 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1846px;
  top:360px;
  width:416px;
  height:723px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u47 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1858px;
  top:424px;
  width:171px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1860px;
  top:366px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1846px;
  top:408px;
  width:417px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1862px;
  top:532px;
  width:36px;
  height:34px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1908px;
  top:530px;
  width:205px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1864px;
  top:583px;
  width:36px;
  height:34px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1910px;
  top:581px;
  width:245px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:41px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1862px;
  top:479px;
  width:36px;
  height:34px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1908px;
  top:479px;
  width:244px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:41px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1846px;
  top:446px;
  width:415px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:398px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:415px;
  height:1px;
}
#u66 {
  position:absolute;
  left:1856px;
  top:537px;
  width:181px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1846px;
  top:332px;
  width:417px;
  height:28px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:28px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1174px;
  top:266px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1970px;
  top:269px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:309px;
  top:1250px;
  width:217px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#0000FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:266px;
  top:1833px;
  width:22px;
  height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:224px;
  top:1313px;
  width:417px;
  height:740px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u79 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:224px;
  top:1341px;
  width:416px;
  height:723px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u81 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:238px;
  top:1347px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:224px;
  top:1389px;
  width:417px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u85 {
  position:absolute;
  left:578px;
  top:2001px;
  width:38px;
  height:31px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:235px;
  top:1518px;
  width:181px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:2160px;
  top:424px;
  width:101px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0000FF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:2178px;
  top:486px;
  width:76px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:2182px;
  top:486px;
  width:69px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:2178px;
  top:540px;
  width:76px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:2182px;
  top:540px;
  width:69px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:2178px;
  top:592px;
  width:76px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:2182px;
  top:592px;
  width:69px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:2222px;
  top:495px;
  width:99px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u104 {
  position:absolute;
  left:2331px;
  top:467px;
  width:233px;
  height:88px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:88px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:2110px;
  top:596px;
  width:211px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:194px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:211px;
  height:1px;
}
#u107 {
  position:absolute;
  left:2331px;
  top:592px;
  width:233px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:44px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:2222px;
  top:686px;
  width:99px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u110 {
  position:absolute;
  left:2331px;
  top:682px;
  width:233px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:22px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:332px;
  top:1604px;
  width:200px;
  height:100px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u113 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:675px;
  top:1644px;
  width:343px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:581px;
  top:1652px;
  width:92px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  height:1px;
}
#u117 {
  position:absolute;
  left:224px;
  top:329px;
  width:417px;
  height:740px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u118 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:224px;
  top:357px;
  width:416px;
  height:723px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u120 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:238px;
  top:369px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:224px;
  top:417px;
  width:417px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u124 {
  position:absolute;
  left:578px;
  top:1013px;
  width:38px;
  height:34px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u125 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:238px;
  top:375px;
  width:22px;
  height:22px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u127 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:224px;
  top:421px;
  width:416px;
  height:40px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:224px;
  top:421px;
  width:104px;
  height:40px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:430px;
  top:421px;
  width:104px;
  height:40px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:327px;
  top:421px;
  width:104px;
  height:40px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u135 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:533px;
  top:421px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:236px;
  top:468px;
  width:171px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:241px;
  top:576px;
  width:36px;
  height:34px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u141 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:287px;
  top:574px;
  width:205px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:242px;
  top:627px;
  width:36px;
  height:34px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u145 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:288px;
  top:625px;
  width:245px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:41px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:240px;
  top:523px;
  width:36px;
  height:34px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u149 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:286px;
  top:523px;
  width:255px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:41px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:224px;
  top:490px;
  width:415px;
  height:10px;
}
#u152_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_end {
  position:absolute;
  left:398px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_line {
  position:absolute;
  left:0px;
  top:5px;
  width:415px;
  height:1px;
}
#u153 {
  position:absolute;
  left:241px;
  top:678px;
  width:36px;
  height:34px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u154 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:287px;
  top:676px;
  width:245px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:41px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:235px;
  top:581px;
  width:181px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:578px;
  top:678px;
  width:61px;
  height:53px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:53px;
}
#u160 {
  position:absolute;
  left:2px;
  top:18px;
  width:57px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:579px;
  top:467px;
  width:60px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0000FF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:586px;
  top:657px;
  width:99px;
  height:10px;
}
#u163_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u163_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u164 {
  position:absolute;
  left:630px;
  top:472px;
  width:92px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  height:1px;
}
#u165 {
  position:absolute;
  left:1050px;
  top:329px;
  width:417px;
  height:740px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u166 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1050px;
  top:357px;
  width:416px;
  height:723px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u168 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1064px;
  top:369px;
  width:390px;
  height:40px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-size:28px;
  text-align:left;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:386px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1050px;
  top:417px;
  width:417px;
  height:10px;
}
#u171_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u171_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u171_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u172 {
  position:absolute;
  left:1404px;
  top:1013px;
  width:38px;
  height:34px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u173 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1064px;
  top:375px;
  width:22px;
  height:22px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u175 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1050px;
  top:421px;
  width:416px;
  height:40px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
}
#u177 {
  position:absolute;
  left:2px;
  top:12px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1050px;
  top:421px;
  width:104px;
  height:40px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u179 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1256px;
  top:421px;
  width:104px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u181 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1153px;
  top:421px;
  width:104px;
  height:40px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u183 {
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1359px;
  top:421px;
  width:107px;
  height:40px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u185 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1062px;
  top:468px;
  width:171px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:1067px;
  top:576px;
  width:36px;
  height:34px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u189 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1113px;
  top:574px;
  width:205px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:41px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:1068px;
  top:627px;
  width:36px;
  height:34px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u193 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1114px;
  top:625px;
  width:245px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:41px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:1066px;
  top:523px;
  width:36px;
  height:34px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u197 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1112px;
  top:523px;
  width:244px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:41px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:1050px;
  top:490px;
  width:415px;
  height:10px;
}
#u200_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_end {
  position:absolute;
  left:398px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_line {
  position:absolute;
  left:0px;
  top:5px;
  width:415px;
  height:1px;
}
#u201 {
  position:absolute;
  left:1067px;
  top:678px;
  width:36px;
  height:34px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u202 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1113px;
  top:676px;
  width:245px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:41px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:1061px;
  top:581px;
  width:181px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:1404px;
  top:678px;
  width:61px;
  height:53px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:53px;
}
#u208 {
  position:absolute;
  left:2px;
  top:18px;
  width:57px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1405px;
  top:467px;
  width:60px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0000FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1050px;
  top:357px;
  width:416px;
  height:723px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:723px;
}
#u212 {
  position:absolute;
  left:2px;
  top:354px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:1130px;
  top:607px;
  width:294px;
  height:165px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:165px;
}
#u214 {
  position:absolute;
  left:2px;
  top:74px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:1131px;
  top:715px;
  width:293px;
  height:10px;
}
#u215_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u215_end {
  position:absolute;
  left:276px;
  top:-5px;
  width:18px;
  height:20px;
}
#u215_line {
  position:absolute;
  left:0px;
  top:5px;
  width:293px;
  height:1px;
}
#u216 {
  position:absolute;
  left:1130px;
  top:625px;
  width:278px;
  height:66px;
  font-size:18px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:66px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:1180px;
  top:731px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:1332px;
  top:733px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:1268px;
  top:721px;
  width:10px;
  height:52px;
}
#u222_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u222_end {
  position:absolute;
  left:-5px;
  top:35px;
  width:20px;
  height:18px;
}
#u222_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:52px;
}
#u223 {
  position:absolute;
  left:1130px;
  top:607px;
  width:294px;
  height:38px;
  font-size:18px;
  color:#FFFFFF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u224 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:1401px;
  top:658px;
  width:99px;
  height:10px;
}
#u225_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u225_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u225_line {
  position:absolute;
  left:0px;
  top:5px;
  width:99px;
  height:1px;
}
#u226 {
  position:absolute;
  left:2210px;
  top:1030px;
  width:38px;
  height:34px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u227 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:2995px;
  top:1005px;
  width:38px;
  height:34px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u229 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:2664px;
  top:482px;
  width:47px;
  height:43px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u231 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:2664px;
  top:536px;
  width:47px;
  height:43px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:2664px;
  top:596px;
  width:47px;
  height:43px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u235 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:2664px;
  top:658px;
  width:47px;
  height:43px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u237 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:2666px;
  top:721px;
  width:47px;
  height:43px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u239 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:556px;
  top:375px;
  width:22px;
  height:22px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u241 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:594px;
  top:369px;
  width:34px;
  height:35px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u243 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1382px;
  top:378px;
  width:22px;
  height:22px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u245 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:1420px;
  top:372px;
  width:34px;
  height:35px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u247 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:2216px;
  top:370px;
  width:34px;
  height:35px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u249 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:2985px;
  top:375px;
  width:22px;
  height:22px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u251 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:3023px;
  top:369px;
  width:34px;
  height:35px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u253 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:3040px;
  top:481px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:3040px;
  top:542px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:3040px;
  top:603px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:3040px;
  top:668px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:3040px;
  top:726px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:600px;
  top:1347px;
  width:34px;
  height:35px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u265 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
