﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:43px;
  top:33px;
  width:247px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:84px;
  width:1480px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1480px;
  height:1px;
}
#u3 {
  position:absolute;
  left:82px;
  top:120px;
  width:268px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:82px;
  top:138px;
  width:268px;
  height:452px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:452px;
}
#u6 {
  position:absolute;
  left:2px;
  top:218px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:126px;
  width:52px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:310px;
  top:152px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:104px;
  top:242px;
  width:10px;
  height:18px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:1px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:18px;
}
#u12 {
  position:absolute;
  left:82px;
  top:338px;
  width:268px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u13 {
  position:absolute;
  left:82px;
  top:382px;
  width:268px;
  height:208px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:208px;
}
#u14 {
  position:absolute;
  left:2px;
  top:96px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:122px;
  top:186px;
  width:118px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:102px;
  top:188px;
  width:19px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:122px;
  top:214px;
  width:118px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:102px;
  top:216px;
  width:19px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:102px;
  top:354px;
  width:27px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:170px;
  top:354px;
  width:27px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:236px;
  top:354px;
  width:27px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:304px;
  top:354px;
  width:27px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:304px;
  top:260px;
  width:136px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:119px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:136px;
  height:1px;
}
#u32 {
  position:absolute;
  left:450px;
  top:255px;
  width:470px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:36px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  white-space:nowrap;
}
