﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1197px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:400px;
  top:650px;
  width:797px;
  height:1010px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:1010px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  word-wrap:break-word;
}
