﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:35px;
  width:481px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1580px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1563px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1580px;
  height:1px;
}
#u3 {
  position:absolute;
  left:77px;
  top:150px;
  width:262px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:77px;
  top:168px;
  width:262px;
  height:442px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:442px;
}
#u6 {
  position:absolute;
  left:2px;
  top:213px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:95px;
  top:155px;
  width:51px;
  height:9px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:9px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-4px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:77px;
  top:202px;
  width:262px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:245px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:262px;
  height:1px;
}
#u10 {
  position:absolute;
  left:95px;
  top:178px;
  width:17px;
  height:17px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:119px;
  top:176px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:95px;
  top:214px;
  width:175px;
  height:18px;
  color:#33CC66;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:131px;
  top:242px;
  width:48px;
  height:18px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:131px;
  top:264px;
  width:99px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:81px;
  top:284px;
  width:259px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  height:1px;
}
#u21 {
  position:absolute;
  left:131px;
  top:301px;
  width:81px;
  height:18px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:131px;
  top:325px;
  width:99px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:79px;
  top:347px;
  width:259px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  height:1px;
}
#u26 {
  position:absolute;
  left:91px;
  top:245px;
  width:28px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:91px;
  top:305px;
  width:28px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:131px;
  top:366px;
  width:164px;
  height:18px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:131px;
  top:390px;
  width:99px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:79px;
  top:409px;
  width:259px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  height:1px;
}
#u35 {
  position:absolute;
  left:131px;
  top:427px;
  width:66px;
  height:18px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:131px;
  top:451px;
  width:99px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:79px;
  top:470px;
  width:259px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:242px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:259px;
  height:1px;
}
#u40 {
  position:absolute;
  left:91px;
  top:369px;
  width:28px;
  height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:91px;
  top:430px;
  width:28px;
  height:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:77px;
  top:568px;
  width:262px;
  height:42px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:42px;
}
#u45 {
  position:absolute;
  left:2px;
  top:13px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:144px;
  top:578px;
  width:40px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:231px;
  top:578px;
  width:40px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:266px;
  top:585px;
  width:114px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:97px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:114px;
  height:1px;
}
#u51 {
  position:absolute;
  left:390px;
  top:582px;
  width:209px;
  height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
